* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	color: #f6f6f6;
	font-size: 24px;
	line-height: 1.1;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h2 {
	color: #adaa99;
	font-size: 24px;
	line-height: 1.1;
	margin-bottom: 10px;
	font-family: $font-second;
}

h3 {
	color: #adaa99;
	font-size: 24px;
	line-height: 1.1;
	font-family: $font-second;
}

p {
	padding: 0;
	margin: 0 0 15px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.table {
	width: 100%;
	font-size: 12px;
	line-height: 16px;

	th {
		color: #212121;
		font-weight: 700;
		padding: 2px 5px;
		text-align: center;
		border-right: 1px solid #333;

		&:last-child {
			border-right: none;
		}
	}

	td {
		color: #d7d7d7;
		padding: 2px 5px;
		border-right: 1px solid #333;

		&:last-child {
			border-right: none;
		}
	}

	.table-head {
		text-align: center;
		background: #7d7b71;
		color: #212121;
		text-transform: uppercase;
	}

	.not-available {

		td {
			color: #6f6e6e;
		}
	}
}

.table-striped {

	tr {
		&:nth-child(odd) {
			background: #484848;
		}
	}
}

.color-orange {
	color: $color-orange !important;
}

.color-gold {
	color: #959284;
}