.basket-info {
	display: none;
	color: #c1c1c1;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;

	@media (min-width: $screen-sm-min) {
		display: block;
	}

	@media (min-width: $screen-md-min) {

	}
}


.basket {
	margin-top: -15px;
	margin-bottom: 40px;

	.basket-row-heading {
		display: none;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			color: #212121;
			font-size: 12px;
			font-weight: 700;
			padding: 3px 5px;
			text-align: center;
			line-height: 14px;
			background: #666666;
			border-left: 1px solid #212121;
		}
	}

	.basket-row {
		@include clearfix();
		position: relative;
		border-bottom: 1px solid #666;

		> li {
			float: left;
			text-align: center;
			padding: 7px 5px;
			line-height: 20px;

			&:nth-child(1) {
				width: 100%;
				text-align: left;
				padding-right: 60px;
			}

			&:nth-child(2) {
				width: 12.66%;
				padding-top: 12px;
			}

			&:nth-child(3) {
				width: 12.66%;
				padding-top: 12px;
			}

			&:nth-child(4) {
				width: 16.66%;
				padding-top: 12px;
			}

			&:nth-child(5) {
				width: 25%;
			}

			&:nth-child(6) {
				width: 33%;
				text-align: right;
				padding-top: 12px;
			}

			&:nth-child(7) {
				top: 5px;
				right: 10px;
				position: absolute;
			}
		}

		.basket-product {
			color: #fff;
			display: table;
			font-size: 18px;
			text-align: left;
			line-height: 20px;
			text-decoration: none;
			font-family: $font-second;
			text-transform: uppercase;

			.basket-product-image {
				display: none;
			}

			&:hover {
				color: $color-green;

				.basket-product-image {
					@include opacity(0.7);
				}
			}
		}

		.basket-delete {
			top: 3px;
			right: 0;
			width: 14px;
			height: 14px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: absolute;
			display: inline-block;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				width: 1px;
				height: 14px;
				content: ' ';
				margin-top: -7px;
				position: absolute;
				background: #666666;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}

			&:hover {

				&:after,
				&:before {
					background: #fff;
				}
			}
		}

		.basket-price {
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
		}

		.form-number {
			width: 75px;
			display: block;
			margin: 0 auto;
		}

		.basket-like {
			top: -5px;
			right: 20px;
			width: 30px;
			height: 30px;
			cursor: pointer;
			margin: 0;
			display: inline-block;
			position: absolute;
			border: 1px solid transparent;

			&:before {
				top: 50%;
				left: 50%;
				width: 18px;
				height: 16px;
				content: '';
				margin-top: -8px;
				margin-left: -9px;
				position: absolute;
				display: inline-block;
				background: url('../img/icon-headt.png') 50% 50% no-repeat;
				background-size: cover;
			}

			&:hover {
				background: #212121;
			}
		}
	}

	.basket-total {
		padding: 13px 0;
		margin-bottom: 20px;
		background: #3e3e3e;
		@include  clearfix();

		> li {
			float: right;
			margin-left: 25px;

			&:first-child {
				text-align: right;
				padding-right: 5px;
			}

			&:last-child {
				color: #848383;
				font-size: 14px;
				line-height: 20px;
			}
		}

		.basket-price {
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
		}
	}

	.basket-purchase {

		ul {
			@include clearfix();

			li {
				margin-bottom: 10px;
			}
		}

		.btn {
			width: 100%;
			font-size: 24px;
			line-height: 30px;
		}
	}


	@media (min-width: $screen-sm-min) {
		margin-top: 0;

		.basket-row-heading {
			display: table;

			> li {
				display: table-cell;
				vertical-align: middle;

				&:nth-child(1) {

				}

				&:nth-child(2) {
					width: 56px;
				}

				&:nth-child(3) {
					width: 56px;
				}

				&:nth-child(4) {
					width: 56px;
				}

				&:nth-child(5) {
					width: 90px;
				}

				&:nth-child(6) {
					width: 95px;
				}

				&:nth-child(7) {
					width: 30px;
				}
			}
		}

		.basket-row {
			width: 100%;
			display: table;

			> li {
				float: none;
				display: table-cell;
				vertical-align: middle;

				&:nth-child(1) {
					width: auto;
					padding-right: 0;
				}

				&:nth-child(2) {
					width: 56px;
					padding-top: 7px;
				}

				&:nth-child(3) {
					width: 56px;
					padding-top: 7px;
				}

				&:nth-child(4) {
					width: 56px;
					padding-top: 7px;
				}

				&:nth-child(5) {
					width: 90px;
				}

				&:nth-child(6) {
					width: 95px;
					padding-top: 7px;
				}

				&:nth-child(7) {
					top: auto;
					right: auto;
					width: 30px;
					position: relative;
				}
			}

			.basket-delete {
				top: 5px;
				right: 5px;
			}

			.basket-like {
				top: 27px;
				right: 0;
				border-color: #666;
			}
		}

		.basket-total {

			> li {

				&:first-child {
					padding-right: 35px;
				}
			}
		}

		.basket-purchase {
			@include clearfix();

			ul {
				margin: 0 -5px;
				@include clearfix();

				li {
					width: 50%;
					float: left;
					padding: 0 5px;
					margin-bottom: 0;
				}
			}

			.btn {
				width: 100%;
			}
		}
	}


	@media (min-width: $screen-md-min) {

		.basket-row {

			> li {
				padding: 4px 5px;
			}

			.basket-product {
				font-size: 18px;
				line-height: 20px;

				.basket-product-image {
					width: 120px;
					padding: 0 20px 0 0;
					display: table-cell;
					vertical-align: middle;
				}

				.basket-product-name {
					display: table-cell;
					vertical-align: middle;
				}
			}

			.basket-like {
				top: 50%;
				margin-top: -15px;
			}
		}

		.basket-purchase {
			@include clearfix();

			ul {
				margin: 0;
				float: right;
				padding-right: 20px;
				@include clearfix();

				li {
					width: 215px;
					padding: 0 10px;
				}
			}

			.btn {
				width: 100%;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		.basket-row-heading {
			display: table;

			> li {
				display: table-cell;
				vertical-align: middle;

				&:nth-child(1) {

				}

				&:nth-child(2) {
					width: 75px;
				}

				&:nth-child(3) {
					width: 75px;
				}

				&:nth-child(4) {
					width: 75px;
				}

				&:nth-child(5) {
					width: 110px;
				}

				&:nth-child(6) {
					width: 110px;
				}

				&:nth-child(7) {
					width: 30px;
				}
			}
		}

		.basket-row {

			> li {

				&:nth-child(1) {
				}

				&:nth-child(2) {
					width: 75px;
				}

				&:nth-child(3) {
					width: 75px;
				}

				&:nth-child(4) {
					width: 75px;
				}

				&:nth-child(5) {
					width: 110px;
				}

				&:nth-child(6) {
					width: 110px;
				}

				&:nth-child(7) {
				}
			}

			.basket-product {

				.basket-product-image {
					width: 110px;
					padding: 0 20px 0 10px;
				}
			}
		}
	}
}


.order-block {
	padding-bottom: 35px;
	margin-bottom: 10px;
	background: url("../img/jobs_title_bg.png") 0 100% repeat-x;

	&.no-bg {
		padding-bottom: 0;
		background: none;
	}

	.form-group {
		margin-bottom: 10px;
	}

	label {
		color: #a19f9f;
		font-size: 14px;
		line-height: 18px;
		display: inline-block;
		position: relative;
		padding-left: 16px;

		&:before {
			left: 0;
			top: 3px;
			z-index: 5;
			content: '';
			width: 11px;
			height: 11px;
			position: absolute;
			background: #e6e6e6;
			display: inline-block;
			border: 1px solid #4d4d4d;
			@include border-radius(3px);
		}

		&:after {
			left: 0;
			top: 3px;
			z-index: 10;
			content: '';
			width: 11px;
			height: 11px;
			display: none;
			position: absolute;
			border: 1px solid #4d4d4d;
			background: #e6e6e6 url("../img/icon-checked.png") 1px 50% no-repeat;
		}

		&.checked {

			&:before {
				display: none;
			}

			&:after {
				display: inline-block;
			}
		}
	}

	.color-orange {

		label {

			color: $color-orange;
		}
	}

	.order-left {
		font-size: 14px;
		line-height: 20px;

		label {
			font-size: 14px;
			line-height: 20px;
		}

		p {
			padding-left: 15px;
		}
	}

	.order-button {
		text-align: center;
	}

	.order-total {
		@include clearfix();

		> li {

			&:nth-child(2) {
				padding: 5px 0;
				text-align: center;
			}

			&:nth-child(3) {
				display: none;
			}
		}

		.order-total-text {
			margin-bottom: 5px;
			@include clearfix();

			.text-legend {
				float: left;
				color: #848383;
				font-size: 14px;
				line-height: 20px;
			}

			.text-price {
				float: right;
				width: 115px;
				text-align: left;
				color: #e7e6e6;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
			}
		}

		.price-legend {
			font-size: 14px;
			line-height: 20px;
		}

		.price-value {
			font-size: 30px;
			font-weight: 700;
			line-height: 36px;
			color: $color-orange;
		}
	}


	@media (min-width: $screen-sm-min) {

		.order-left {
			border-right: 1px solid #686868;

			p {
				margin-right: -15px;
			}
		}

		.order-button {
			text-align: right;
			padding-right: 10px;
		}

		.order-total {
			width: 100%;
			display: table;

			> li {
				display: table-cell;
				vertical-align: middle;

				&:nth-child(1) {
					width: 260px;
				}

				&:nth-child(2) {
					width: 180px;
					padding-top: 0;
				}

				&:nth-child(3) {
					width: 150px;
					display: block;
					text-align: right;

					.btn {
						width: 100%;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.order-total {

			> li {

				&:nth-child(2) {
					width: 285px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.order-total {

			> li {

				&:nth-child(2) {
					width: 515px;
				}
			}
		}
	}
}
