.main {
	padding: 10px 0 20px 0;
}

.slider-block {
	padding-top: 5px;
	margin-bottom: 10px;

	.slider-action {
		margin-bottom: 6px;
		position: relative;
		background: #212121;
		padding-bottom: 15px;

		.slider-action-image {
			border: none;
			outline: none;
			background: #212121;
		}
	}

	.slider-product {
		position: relative;
		padding-bottom: 15px;

		.slider-product-item {
			border: none;
			outline: none;
			position: relative;
		}

		.slider-product-content {
			top: 0;
			left: 0;
			right: 0;
			z-index: 20;
			bottom: 0;
			padding: 45px 15px 5px 15px;
			position: absolute;

			h4 {
				color: #231f20;
				font-size: 11px;
				font-weight: 700;
				line-height: 16px;
				margin-bottom: 0;

				strong {
					font-size: 14px;
					font-weight: 900;
					color: $color-orange;
					text-transform: uppercase;
				}
			}

			.slider-text {
				padding: 0;
				color: #231f20;
				font-size: 11px;
				line-height: 13px;
				list-style: none;
				margin: 0 0 10px 0;

				strong {
					font-weight: 900;
				}


			}

			.slider-button {
				margin: 0;
				padding: 0;
		//		left: 15px;
		//		bottom: 10px;
		//		position: absolute;
				list-style: none;

				li {
					float: left;

					margin-right: 10px;

					&:last-child {
						display: none;
					}
				}
			}
		}
	}

	.slick-dots {
		left: 0;
		right: 0;
		bottom: 0;
		height: 36px;
		font-size: 0;
		line-height: 0;
		padding-top: 10px;
		text-align: center;
		position: absolute;
		background: url("../img/slider_line.png") 0 0 repeat-x;

		li {
			margin: 0 6px;
			display: inline-block;

			button {
				margin: 0;
				padding: 0;
				width: 10px;
				height: 10px;
				outline: none;
				display: inline-block;
				background: transparent;
				border: 2px solid #d8d8d8;
				@include border-radius(50%);

				&:hover {
					background: #d8d8d8;
				}
			}

			&.slick-active {

				button {
					background: #d8d8d8;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.slider-action {
			float: left;
			width: 348px;
			margin-bottom: 0;
			padding-bottom: 30px;
		}

		.slider-product {
			float: right;
			width: 230px;
			padding-bottom: 30px;

			.slider-product-content {
				font-weight: 700;
				padding: 30px 15px 5px 15px;

				h4 {
					strong {
						display: block;
					}
				}

				.slider-text {

					li {
						display: none;

						&:first-child,
						&:last-child {
							display: block;
						}
					}
				}
			}
		}

	}

	@media (min-width: $screen-md-min) {

		.slider-action {
			width: 555px;
			padding-bottom: 15px;
		}

		.slider-product {
			width: 367px;
			padding-bottom: 15px;

			.slider-product-content {
				padding: 50px 15px 5px 15px;

				h4 {
					font-size: 17px;
					line-height: 17px;
					margin-bottom: 5px;

					strong {
						font-size: 24px;
						line-height: 24px;
						display: block;
					}
				}

				.slider-text {
					font-weight: 400;
					margin-bottom: 15px;

					li {
						display: block;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.slider-action {
			width: 695px;
		}

		.slider-product {
			width: 458px;

			.slider-product-content {
				padding: 75px 20px 5px 20px;

				h4 {
					font-size: 22px;
					line-height: 22px;
					margin-bottom: 5px;

					strong {
						font-size: 29px;
						line-height: 29px;
						display: block;
					}
				}

				.slider-text {
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 15px;

					li {
						display: block;
					}
				}
			}

			.slider-button {

				li {

					&:last-child {
						display: block;
					}
				}
			}
		}
	}
}

.promo-block {
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 10px;

	.promo {
		width: 230px;
		margin: 0 auto;


		.promo-item {
			border: none;
			outline: none;
		}

		.promo-content {
			margin: 0 auto;
			overflow: hidden;
			display: block;
			padding: 10px 10px 0 10px;
			border: 1px solid #636363;
			@include border-radius(0 0 5px 5px);
			@include gradient-vertical(rgba(38,38,38,0.3), rgba(38,38,38,0.7));

			.promo-image {
				max-width: 200px;
				margin: 0 auto 8px auto;
			}

			.promo-heading {
				font-size: 20px;
				font-weight: 400;
				line-height: 20px;
				color: $color-orange;
				margin: 0 -5px 8px -5px;
				text-transform: uppercase;
			}

			.promo-text {
				color: #ccc;
				height: 80px;
				font-size: 11px;
				line-height: 14px;
				overflow: hidden;
			}

			.promo-bottom {
				color: #ccc;
				height: 18px;
				padding: 2px 0;
				margin: 0 -10px;
				font-size: 12px;
				line-height: 14px;
				text-align: center;
				background: #262626;
			}

			&:hover {

				.promo-heading {
					color: #fff;
				}
			}
		}

		.slide-nav {
			top: 50%;
			width: 69px;
			height: 69px;
			z-index: 10;
			cursor: pointer;
			margin-top: -35px;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
			@include opacity(0.5);
			background: url("../img/slide-nav.png") 50% no-repeat;

			&:hover {
				@include opacity(1);
			}

			&.next {
				right: -45px;
			}

			&.prev {
				left: -45px;
				@include rotate(180deg);
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.promo {
			width: 480px;

			.promo-item{
				padding: 0 5px;
			}

			.slide-nav {

				&.next {
					right: -50px;
				}

				&.prev {
					left: -50px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.promo {
			width: auto;
			margin: 0 -5px;

			.slide-nav {

				&.next {
					right: -15px;
				}

				&.prev {
					left: -15px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.promo {

			.slide-nav {

				&.next {
					right: -35px;
				}

				&.prev {
					left: -35px;
				}
			}
		}
	}
}

.action-block {
	margin-bottom: 10px;

	.action-heading {
		color: #ccc;
		font-size: 12px;
		line-height: 16px;
		text-align: center;

		padding-top: 10px;
		margin-bottom: 10px;
		border-top: 1px dashed #666;
	}

	.action {
		width: 230px;
		margin: 0 auto;
		position: relative;

		.action-item {
			border: none;
			outline: none;
			position: relative;
		}

		.action-content {
			display: block;
			background: #4b4b4b;

			.action-title {
				width: 100%;
				padding: 0 10px;
				height: 44px;
				color: #212121;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
				@include flexbox();
				background: $color-orange;

				span {
					width: 100%;
					margin: auto 0;
					display: inline-block;
				}

				strong {
					font-size: 40px;
					line-height: 40px;
				}
			}

			.action-text {
				color: #ccc;
				height: 95px;
				font-size: 11px;
				line-height: 15px;
				overflow: hidden;
				padding: 6px 5px;
			}

			&:hover {
				background: #262626;
			}
		}


		.slide-nav {
			top: 50%;
			width: 69px;
			height: 69px;
			z-index: 10;
			cursor: pointer;
			margin-top: -35px;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
			@include opacity(0.5);
			background: url("../img/slide-nav.png") 50% no-repeat;

			&:hover {
				@include opacity(1);
			}

			&.next {
				right: -45px;
			}

			&.prev {
				left: -45px;
				@include rotate(180deg);
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.action {
			width: 480px;

			.action-item{
				padding: 0 5px;
			}

			.slide-nav {

				&.next {
					right: -50px;
				}

				&.prev {
					left: -50px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.action {
			width: auto;
			margin: 0 -5px;

			.slide-nav {

				&.next {
					right: -15px;
				}

				&.prev {
					left: -15px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.action {

			.slide-nav {

				&.next {
					right: -35px;
				}

				&.prev {
					left: -35px;
				}
			}
		}
	}
}

.part-block {
	margin-bottom: 20px;

	.part-wrap {
		width: 310px;
		margin: 0 auto;
	}

	.part {
		margin: 0 -3px;

		li {
			width: 50%;
			float: left;
			padding: 0 3px;
			margin-bottom: 6px;
		}

		.part-item {
			background: #000;
			position: relative;

			.part-image {
				width: 100%;
				max-width: 100%;
				overflow: hidden;

				.part-image-inner {
					margin-right: -159px;
				}
			}

			.btn {
				left: 5px;
				bottom: 6px;
				position: absolute;
			}

			&:hover {

				.part-image {
					@include opacity(0.7);
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.part-wrap {
			width: 100%;
		}

		.part {
			margin: 0 -4px;

			li {
				width: 33.33%;
				padding: 0 4px;
				height: 125px;
				overflow: hidden;


				&:nth-child(2) {
					width: 66.66%;
				}

				&:nth-child(8) {

					.part-item {

						.part-image {

							.part-image-inner {
								margin-right: -192px;
							}
						}
					}
				}
			}

			.part-item {

				.part-image {

					.part-image-inner {
						margin-right: 0;
					}
				}
			}
		}

	}

	@media (min-width: $screen-md-min) {

		.part {

			li {
				width: 20%;
				&:nth-child(2) {
					width: 40%;

					.part-item {

						.part-image {

							.part-image-inner {
								margin-right: 0;
							}
						}
					}
				}

				&:nth-child(8) {
					width: 40%;

					.part-item {

						.part-image {

							.part-image-inner {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.part {

			li {
				height: 155px;
			}
		}
	}
}

.vendor-block {
	margin-bottom: 20px;

	.vendor-title {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #686868;
	}

	.vendor {
		margin: 0 15px;
		position: relative;

		.vendor-item {
			border: none;
			outline: none;
			padding: 0 2px;
			text-align: center;

			img {
				@include img-responsive(inline-block);
			}
		}

		.slide-nav {
			top: 50%;
			width: 5px;
			z-index: 10;
			height: 16px;
			margin-top: -8px;
			position: absolute;
			display: inline-block;
			background: url("../img/logos-nav.png") 0 0 no-repeat;

			&.prev {
				left: -15px;
			}

			&.next {
				right: -15px;
				@include rotate(180deg);
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.vendor-title {
			margin-left: 100px;
			margin-right: 100px;
		}
	}
}

.btn-read {
	z-index: 20;
	color: #686868;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 3px 25px 3px 0;

	&:before {
		top: 0;
		right: 0;
		content: '';
		width: 19px;
		height: 19px;
		position: absolute;
		background: url("../img/arrow-bown.png") 100% 50% no-repeat;
	}

	.text-open {
		display: inline;
	}

	.text-close {
		display: none;
	}

	&.open {

		&:before {
			@include rotate(180deg);
		}
		.text-open {
			display: none;
		}

		.text-close {
			display: inline;
		}
	}
}

.text-block {

	.text-block-toggle {
		height: 65px;
		overflow: hidden;

		&.open {
			height: auto;
		}
	}
}

.container-text {
	padding-top: 20px;
}

.modal-box {
	padding: 0;
	max-width: 330px;
	background: #333;
	position: relative;
	border: 1px solid #666;

	&.modal-box-md {
		max-width: 580px;
	}

	.modal-box-title {
		color: #212121;
		font-size: 24px;
		line-height: 26px;
		background: #666;
		text-align: left;
		padding: 2px 15px;
		text-transform: uppercase;
		font-family: $font-second;
	}

	.modal-box-content {
		color: #c0c0c0;
		padding: 15px 10px;
		font-size: 12px;

		h3 {
			color: #adaa99;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 10px;
			font-family: $font-base;
		}

		.modal-tel {
			color: #c0c0c0;
			font-size: 24px;
			font-weight: 700;
			line-height: 26px;
		}

		.modal-text-tel {
			color: #c0c0c0;
			display: block;
			font-size: 12px;
			line-height: 14px;
		}
	}

	.modal-close {
		top: 4px;
		right: 5px;
		margin: 0;
		padding: 0;
		content: '';
		width: 20px;
		height: 20px;
		border: none;
		outline: none;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: transparent url("../img/icon-close.png") 50% 50% no-repeat;
	}

	.modal-contact-phone {
		color: #93937f;
		display: block;
		font-size: 18px;
		font-weight: 700;
		line-height: 18px;
		text-decoration: none;
		padding: 20px 5px 20px 105px;
		background: #252525 url("../img/icon-messanger.png") 10px 50% no-repeat;
	}

	.modal-contact-skype {
		color: #00aaf1;
		display: block;
		font-size: 18px;
		line-height: 18px;
		text-decoration: none;
		padding: 18px 5px 18px 105px;
		background: #333333 url("../img/icon-skype.png") 56px 50% no-repeat;
	}

	.modal-box-form {
		margin: 0 10px;
		padding: 15px 0;
		border-top: 1px solid #666;

		.form-title {
			color: #adaa99;
			font-size: 12px;
			line-height: 12px;
			font-weight: 700;
			padding-left: 10px;
			margin-bottom: 10px;
		}
	}

	.form-inline {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		li {

			&:first-child {
				float: left;
				width: 45px;
			}

			&:last-child {
				margin-left: 45px;
			}
		}

		label {
			color: #686868;
			font-size: 12px;
			font-weight: 400;
			line-height: 20px;
		}
	}

	.modal-box-inner {
		padding: 10px;
	}

	.modal-box-reg {
		width: 100%;
		display: table;
		border-bottom: 1px solid #666;

		&.box-reg-enter {
			padding-bottom: 15px;

			.reg-form {
				padding-top: 20px;
			}
		}

		.reg-user {
			width: 90px;
			display: table-cell;
			vertical-align: top;

			.reg-user-photo {
				width: 68px;
				padding: 3px;
				margin: 0 0 5px 5px;
				border: 1px solid #666;
			}

			.reg-user-social {
				margin: 0 -3px;
				@include clearfix();

				li {
					float: left;
					padding: 0 3px;


					a {
						color: #fff;
						width: 22px;
						height: 22px;
						padding: 4px 0;
						font-size: 14px;
						line-height: 14px;
						text-align: center;
						display: inline-block;
						text-decoration: none;
						@include border-radius(50%);

						&.icon-vk {
							background: #54769a;
						}

						&.icon-facebook {
							background: #585792;
						}

						&.icon-odnoklassniki {
							background: #eb6b0e;
						}
					}
				}
			}
		}

		.reg-form {
			display: table-cell;
			vertical-align: top;

			.from-group-inline {
				margin: 0;
				padding: 0;
				width: 100%;
				display: table;

				li {
					display: table-cell;
					vertical-align: top;

					&:first-child {
						text-align: right;
					}

					&:last-child {
						width: 100px;
						padding-left: 10px;
					}
				}
			}
		}
	}

	.reg-text {
		color: #b2b2b2;
		padding-top: 10px;

		h4 {
			color: #adaa99;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 15px;
		}

		p {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 15px;
		}
	}

	.form-box-top {
		margin-bottom: 15px;
		border-bottom: 1px solid #666;

		.form-row {
			margin: 0;
			padding: 0;
			list-style: none;
			@include clearfix();

			> li {
				float: left;
				width: 50%;

				&:first-child {
					padding-right: 10px;

					.form-col {

						label {
							width: 40px;
						}

						.form-group {
							margin-left: 45px;
						}
					}
				}

				&:last-child {

					.form-col {

						label {
							width: 55px;
						}

						.form-group {
							margin-left: 60px;
						}
					}
				}
			}
		}

		.form-col {
			@include clearfix();

			label {
				float: left;
				color: #686868;
				font-size: 12px;
				line-height: 16px;
			}

			.form-group {

			}
		}
	}

	.form-box-group {
		@include clearfix();

		label {
			color: #adaa99;
			display: block;
			font-size: 12px;
			font-weight: 700;
			line-height: 12px;
			margin-bottom: 10px;
		}
	}

	.inputFile {
		overflow: hidden;
		position: relative;

		.upload {
			top:0;
			left:0;
			width:100%;
			display: block;
			position:absolute;
			@include opacity(0);
			cursor: pointer !important;
		}

		.fileName {
			float: left;
			padding: 2px 0;
			color: #adaa99;
			font-size: 12px;
			font-weight: 700;
			line-height: 14px;
			max-width: 160px;
			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
		}

		.fileformlabel {
			float: right;
			color: #8f8f8f;
			font-size: 12px;
			font-weight: 400;
			padding: 2px 7px;
			line-height: 14px;
			margin-right: 50px;
			display: inline-block;
			border: 1px solid #686868;
			@include border-radius(3px)
		}
	}

	.form-group {
		margin-bottom: 15px;
	}

	.modal-shipping-gallery {
		padding: 0;
		margin: 0 -1px;
		list-style: none;
		@include clearfix();

		li {
			width: 25%;
			float: left;
			padding: 0 1px;

			img {
				border: 1px solid #666;
			}
		}
	}

	.form-callback {

		ul {
			padding: 0;
			list-style: none;
			@include clearfix();
			margin: 0 -10px 0 -10px;

			li {
				float: left;
				width: 50%;
				padding: 0 10px;
				@include clearfix();

				label {
					float: left;
					color: #686868;
					font-size: 14px;
					line-height: 16px;
					display: inline-block;
				}

				.form-group {
					margin-bottom: 10px;
				}

				&:first-child {

					label {
						width: 40px;
					}

					.form-group {
						margin-left: 40px;
					}
				}

				&:last-child {

					label {
						width: 65px;
					}

					.form-group {
						margin-left: 65px;
					}
				}
			}
		}

		.form-error {
			font-size: 11px;
			text-align: right;
			margin-bottom: 10px;
			color: $color-orange;
		}
	}

	.form-callback-title {
		color: #adaa99;
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: 1px solid #666;
	}
}

.search-heading {
	padding-top: 5px;
	position: relative;
	@include clearfix();

	h1 {
		margin-bottom: 10px;
	}

	.search-heading-top {
		@include clearfix();
		margin-bottom: 10px;
	}

	.search-form {
		position: relative;
		padding-right: 120px;

		.search-form-input {
			width: 100%;
			padding-top: 2px;
		}

		button {
			top: 0;
			right: 0;
			width: 110px;
			padding: 2px 10px;
			position: absolute;
		}
	}

	p {
		color: #c3c3c3;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 10px;
	}

	.search-word {
		color: #93937f;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		font-family: $font-second;
	}

	.search-result-text {
		color: #a19f9f;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		margin-bottom: 10px;
	}

	.search-result {
		padding: 0;
		margin: 0 -3px 20px -3px;
		@include clearfix();

		> li {
			width: 100%;
			float: left;
			padding: 0 3px;
			margin-bottom: 10px;

			.search-result-item {
				color: #212121;
				font-size: 18px;
				line-height: 20px;
				position: relative;
				background: #666666;
				padding: 5px 44px 5px 10px;
				text-transform: uppercase;
				font-family: $font-second;
				@include border-radius(6px);

				b {
					top: 1px;
					right: 0;
					width: 44px;
					height: 28px;
					padding: 4px 0;
					font-weight: 400;
					text-align: center;
					position: absolute;
					display: inline-block;
					border-left: 1px solid #4d4d4d;
				}
			}

			&:last-child {
				margin-bottom: 0;

				.search-result-item {
					color: #9f9c8d;
					background: #212121;

					b {

					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		h1 {
			float: left;
			margin-bottom: 0;
		}

		.search-form {
			float: right;
			width: 280px;
		}

		.search-result {

			> li {
				width: 50%;
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.search-form {
			width: 330px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}


.sidebar-search {

	.search-word {
		color: #93937f;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		padding-top: 5px;
		text-transform: uppercase;
		font-family: $font-second;
	}

	.search-result-text {
		color: #a19f9f;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		margin-bottom: 10px;
	}

	.search-result {
		padding: 0;
		margin: 0 -3px 20px -3px;
		@include clearfix();

		> li {
			width: 100%;
			float: left;
			padding: 0 3px;
			margin-bottom: 10px;

			.search-result-item {
				color: #212121;
				font-size: 18px;
				line-height: 20px;
				position: relative;
				background: #666666;
				padding: 5px 44px 5px 10px;
				text-transform: uppercase;
				font-family: $font-second;
				@include border-radius(6px);

				b {
					top: 1px;
					right: 0;
					width: 44px;
					height: 28px;
					padding: 4px 0;
					font-weight: 400;
					text-align: center;
					position: absolute;
					display: inline-block;
					border-left: 1px solid #4d4d4d;
				}

				&:hover {
					color: #9f9c8d;
					background: #212121;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


// Shop

.sidebar-shop {
	margin: 0;
	padding: 5px 0;
	list-style: none;

	li {
		margin-bottom: 10px;

		a {
			width: 100%;
			color: #9f9c8d;
			font-size: 18px;
			line-height: 20px;
			position: relative;
			background: #212121;
			display: inline-block;
			padding: 5px 44px 5px 10px;
			text-transform: uppercase;
			font-family: $font-second;
			@include border-radius(6px);

			span {
				top: 1px;
				right: 0;
				width: 44px;
				height: 28px;
				padding: 4px 0;
				font-weight: 400;
				text-align: center;
				position: absolute;
				display: inline-block;
				border-left: 1px solid #4d4d4d;
			}

			&:hover {
				color: #fff;
			}
		}
	}
}

.shop-map {
	height: 420px;
	margin-bottom: 20px;

	#shop-map {
		height: 100%;
	}

}

.shop-list {
	margin: 0 -10px 20px -10px;

	> li {
		padding: 8px 10px;
		border-bottom: 1px solid #686868;

		&:last-child {
			border-bottom: none;
		}

		&:nth-child(odd) {
			background: #333;
		}

		&:nth-child(even) {
			background: #3e3e3e;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 0 20px 0;

		> li {
			padding: 8px 0;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.shop-item {
	width: 100%;
	color: #c1c1c1;
	font-size: 14px;
	line-height: 18px;

	> li {

		strong {
			color: #adaa99;
			display: block;
			font-size: 24px;
			font-weight: 400;
			line-height: 28px;
			font-family: $font-second;
			text-transform: uppercase;
		}

		span {

		}

		&:nth-child(1) {
			display: none;

			a {
				display: block;
				border: 1px solid transparent;

				&:hover {
					border-color: #626262;
				}
			}
		}

		&:nth-child(4) {
			margin-bottom: 5px;
		}

		&:nth-child(5) {
			margin-bottom: 5px;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 0 20px 0;
		display: table;

		> li {
			padding: 0 5px;
			display: table-cell;
			vertical-align: middle;

			&:nth-child(3) {
				width: 110px;
				text-align: center;
			}

			&:nth-child(4) {
				width: 50px;
				text-align: center;
				margin-bottom: 0;
			}

			&:nth-child(5) {
				width: 120px;
				text-align: center;
				margin-bottom: 0;
			}

			&:nth-child(6) {
				width: 160px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {

			&:nth-child(1) {
				padding: 0 5px 0 0;
				width: 135px;
				display: table-cell;
			}

			&:nth-child(6) {
				padding-right: 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		>	&:nth-child(1) {
			width: 165px;
		}
	}
}

.shop-info {
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	list-style: none;
	@include flexbox();
	@include clearfix();
	@include flex-wrap(wrap);

	> li {
		float: left;
		color: #c1c1c1;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 15px;

		&:nth-child(1) {
			width: 140px;
			padding-right: 5px;
			@include order(1);
		}

		&:nth-child(2) {
			width: 90px;
			padding-right: 5px;
			@include order(3);
		}

		&:nth-child(3) {
			width: 160px;
			@include order(2);
		}

		&:nth-child(4) {
			width: 210px;
			@include order(4);
		}

		&:nth-child(5) {
			display: none;
			@include order(54)
		}
	}

	.shop-info-title {
		color: #adaa99;
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 5px;
		font-family: $font-second;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
	}

	@media (min-width: $screen-sm-min) {

		> li {
			margin-bottom: 0;

			&:nth-child(1) {
				width: 130px;
				@include order(1);
			}

			&:nth-child(2) {
				width: 85px;
				padding-right: 5px;
				@include order(2);
			}

			&:nth-child(3) {
				width: 110px;
				@include order(3);
				padding-right: 5px;
			}

			&:nth-child(4) {
				width: 160px;
				@include order(4);
				padding-right: 5px;

				span {
					display: inline-block;
				}
			}

			&:nth-child(5) {
				width: 105px;
				display: block;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {

			&:nth-child(1) {
				width: 130px;
			}

			&:nth-child(2) {
				width: 100px;
			}

			&:nth-child(3) {
				width: 200px;
			}

			&:nth-child(4) {
				width: 160px;

				span {
					display: inline-block;
				}
			}

			&:nth-child(5) {
				width: 105px;

			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {

			&:nth-child(1) {
				width: 230px;
			}

			&:nth-child(2) {
				width: 110px;
			}

			&:nth-child(3) {
				width: 195px;
			}

			&:nth-child(4) {
				width: 280px;

				span {
					display: inline-block;
				}
			}

			&:nth-child(5) {
				width: 110px;
			}
		}
	}
}

.shop-gallery {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: center;
	margin: 0 -4px 20px -4px;
	@include clearfix();

	> li {
		width: 50%;
		padding: 0 4px;
		margin-bottom: 8px;
		display: inline-block;

		a {
			width: 100%;
			display: inline-block;
			border: 1px solid #686868;

			&:hover {
				border-color: #ccc;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-md-min) {
		margin: 0 -6px 20px -6px;

		> li {
			padding: 0 6px;
			margin-bottom: 12px;
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 25%;
		}
	}
}

.shop-content {

	h4 {
		color: #adaa99;
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 15px;
		padding-top: 5px;
		font-family: $font-second;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 15px;
	}
}

.shop-staff {

	h4 {
		color: #adaa99;
		font-size: 24px;
		line-height: 28px;
		padding-bottom: 5px;
		margin-bottom: 12px;
		border-bottom: 1px solid #5e5e5e;
	}

	.staff-list {
		margin: 0 -4px 30px -4px;
		@include clearfix();

		&.open {

			> li {
				display: block;
			}
		}

		> li {
			width: 50%;
			float: left;
			padding: 0 4px;
			display: none;
			margin-bottom: 10px;
			text-align: center;

			&:nth-child(1),
			&:nth-child(2) {
				display: block;
			}
		}

		.staff-image {
			margin-bottom: 10px;
			border: 1px solid #686868;
		}

		.staff-name {
			color: #ffffff;
			font-size: 24px;
			line-height: 30px;
			font-family: $font-second;
			text-transform: uppercase;
		}

		.staff-position {
			color: #ababab;
			font-size: 14px;
			line-height: 18px;
		}
	}

	@media (min-width: $screen-sm-min) {


		.staff-list {

			> li {
				width: 33.33%;

				&:nth-child(3){
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.staff-list {
			margin-left: -6px;
			margin-right: -6px;

			> li {
				width: 33.33%;
				padding: 0 6px;
				margin-bottom: 12px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.staff-list {

			>li {
				width: 25%;

				&:nth-child(4){
					display: block;
				}
			}
		}
	}
}

.btn-view-all {
	z-index: 20;
	color: #686868;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 3px 25px 3px 0;

	&:before {
		top: 0;
		right: 0;
		content: '';
		width: 19px;
		height: 19px;
		position: absolute;
		background: url("../img/arrow-bown.png") 100% 50% no-repeat;
	}

	.text-open {
		display: inline;
	}

	.text-close {
		display: none;
	}

	&.open {

		&:before {
			@include rotate(180deg);
		}
		.text-open {
			display: none;
		}

		.text-close {
			display: inline;
		}
	}
}


// Партнеры

.line {
	margin-bottom: 15px;
	border-bottom: 1px solid #666;
}


.partners-inner {
	max-width: 320px;
	margin: 0 auto;

	@media (min-width: $screen-sm-min) {
		max-width: inherit;
	}
}

.partners {
	margin: 0 -5px;

	> li {
		width: 50%;
		float: left;
		height: 330px;
		padding: 0 5px;
		position: relative;
		margin-bottom: 20px;

		&.open {

			.partners-item {
				height: auto;
				z-index: 10;
				@include box-shadow(4px 4px 0px 0px rgba(18, 0, 0, 1));
				@include transition(.3s);

				.partners-content {
					height: auto;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 25%;
		}
	}
}

.partners-item {
	top: 0;
	left: 5px;
	right: 5px;
	z-index: 1;
	height: 100%;
	color: #848383;
	background: #333;
	position: absolute;
	padding-bottom: 30px;
	border: 1px solid #686868;
	@include border-radius(0 0 5px 5px);
	@include transition(.3s);

	p {
		margin-bottom: 5px;
	}

	.partners-image {
		display: block;
	}

	.partners-content {
		height: 200px;
		overflow: hidden;
		position: relative;
		margin-bottom: 10px;
		padding: 15px 10px 0 10px;
		@include transition(0.3s);

		h4 {
			color: #ffffff;
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 6px;
			font-family: $font-second;
			text-transform: uppercase;
		}
	}

	.partners-bottom {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 28px;
		padding: 3px 5px;
		text-align: right;
		position: absolute;
		background: #212121;
		@include border-radius(0 0 5px 5px);


		.btn-item-view {
			z-index: 20;
			color: #686868;
			font-size: 12px;
			line-height: 14px;
			position: relative;
			display: inline-block;
			text-decoration: none;
			padding: 3px 25px 3px 0;

			&:before {
				top: 0;
				right: 0;
				content: '';
				width: 19px;
				height: 19px;
				position: absolute;
				background: url("../img/arrow-bown.png") 100% 50% no-repeat;
			}

			&:hover {
				color: $color-green;
			}

			.text-open {
				display: inline;
			}

			.text-close {
				display: none;
			}

			&.open {

				&:before {
					@include rotate(180deg);
				}
				.text-open {
					display: none;
				}

				.text-close {
					display: inline;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.partners-content {

		}
	}

	@media (min-width: $screen-md-min) {

		.partners-content {
			height: 180px;
		}
	}
}

