.top-line {
	padding-top: 9px;
	border-top: 1px solid #666;
}

.dealers-map {
	height: 490px;
	margin-bottom: 10px;

	#dealers-map {
		height: 100%;
	}
}

.subtitle {
	color: #93937f;
	font-size: 24px;
	line-height: 30px;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 10px;
	font-family: $font-second;
	text-transform: uppercase;
	border-bottom: 1px solid #686868;
}

.vendors {
	padding: 0;
	list-style: none;
	margin: 0 -3px 60px -3px;
	@include clearfix();

	> li {
		float: left;
		width: 33.33%;
		font-size: 0;
		line-height: 0;
		padding: 0 3px;
		margin-bottom: 6px;

		.vendors-item {
			text-align: center;
			border: 1px solid #444;

			img {
				@include img-responsive(inline-block);
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {
			width: 25%;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 16.66%;
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 12.50%;

			.vendors-item {
				border: none;
			}
		}
	}
}

.brand {
	@include clearfix();

	.brand-heading {
		margin-bottom: 15px;

		.brand-heading-row {
			width: 100%;
			display: table;

			> li {
				width: 50%;
				display: table-cell;
				vertical-align: middle;

				&:first-child {
					padding-right: 5px;
				}

				&:last-child {
					padding-left: 5px;
				}
			}
		}

		.brand-heading-title {
			color: #93937f;
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-family: $font-second;
			border-bottom: 1px solid #666;
		}

		.brand-heading-type {
			color: #fff;
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-family: $font-second;
		}

		.brand-heading-nav {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				margin-bottom: 6px;

				> a {
					color: #b6b4b4;
					font-size: 12px;
					line-height: 14px;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	.brand-content {
		text-align: justify;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

		.brand-heading {
			float: right;
			width: 225px;

			.brand-heading-row {
				display: block;

				> li {
					width: 100%;
					display: block;

					&:first-child {
						padding: 40px 0 30px 0;
					}

					&:last-child {
						padding-left: 0;
					}
				}
			}
		}

		.brand-content {
			float: left;
			width: 455px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.brand-content {
			width: 685px;
		}
	}
}