@font-face {
	font-family:'DINCondensedC';
	src: url('../fonts/DINCondensedC/DINCondensedC.eot');
	src: url('../fonts/DINCondensedC/DINCondensedC.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DINCondensedC/DINCondensedC.woff2') format('woff2'),
	url('../fonts/DINCondensedC/DINCondensedC.woff') format('woff'),
	url('../fonts/DINCondensedC/DINCondensedC.svg#DINCondensedC') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-0491;
}