.footer {

}


.footer-top {
	background: #212121;

	.footer-logo {
		float: left;
		padding: 5px 0;
		margin-right: 15px;

		display: inline-block;
		@include clearfix();

		.footer-logo-image {
			float: left;
			width: 36px;
			height: 36px;
			display: inline-block;
		}

		.footer-logo-text {
			height: 36px;
			float: left;
			display: none;
			color: #cccccc;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			padding: 9px 0 9px 10px;
		}
	}

	.footer-contact-text {
		color: #ccc;
		float: left;
		display: none;
		font-size: 14px;
		line-height: 20px;
		white-space: nowrap;
		padding: 14px 25px 14px 20px;
	}

	.footer-contact-phone {
		float: left;
		height: 46px;
		text-align: right;
		@include flexbox();

		span {
			margin: auto 0;
			display: inline-block;
		}

		a {
			color: #ccc;
			display: block;
			font-size: 14px;
			line-height: 18px;
			text-decoration: none;
		}
	}

	.footer-social {
		padding: 6px 0;
		float: right;
		margin: 0 -6px;
		list-style: none;
		@include clearfix();

		li {
			float: left;
			padding: 0 6px;

			a {
				width: 36px;
				height: 36px;
				color: #212121;
				padding: 5px 0;
				font-size: 26px;
				background: #fff;
				line-height: 26px;
				text-align: center;
				display: inline-block;
				position: relative;
				@include border-radius(50%);

				&:before {
					width: 1px;
					height: 1px;
					content: '';
					@include opacity(0);
					background: url("../img/instagram_bg.png") 0 0 no-repeat;
				}

				&:hover {
					color: #fff;

					&.icon-vk {
						background: #4a668e;
					}

					&.icon-facebook {
						background: #3b579d;
					}

					&.icon-instagram {
						background: url("../img/instagram_bg.png") 50% 50% no-repeat;
					}
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.footer-logo {

			.footer-logo-text {
				display: inline-block;
			}
		}

		.footer-contact-phone {
			padding-left: 20px;
			padding-right: 25px;
			background: url("../img/footer-gradient.png") 0 0 repeat-y;

			a {
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.footer-contact-text {
			display: block;
			background: url("../img/footer-gradient.png") 0 0 repeat-y;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.footer-bottom {
	background: #292929;
	padding-top: 15px;
	padding-bottom: 25px;

	.footer-nav {
		float: left;
		width: 110px;
		@include clearfix();

		.footer-nav-wrap {
			@include clearfix();
		}

		.footer-nav-item {
			margin-bottom: 5px;

			.footer-nav-title {
				color: #adaa99;
				cursor: pointer;
				font-size: 24px;
				line-height: 30px;
				display: inline-block;
				text-decoration: none;
				text-transform: lowercase;
				font-family: $font-second;

				i {
					font-size: 16px;
					margin-left: 5px;
				}
			}

			&.open {

				.footer-nav-title {

					i {
						display: none;
					}
				}

				.footer-nav-menu {
					display: block;
				}
			}
		}

		.footer-nav-menu {
			margin: 0;
			display: none;
			list-style: none;
			padding: 10px 0 0 0;

			> li {

				.footer-nav-title {
					cursor: default;

					i {
						display: none;
					}
				}

				> a {
					color: #cccccc;
					font-size: 12px;
					line-height: 16px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.footer-nav-content {
			margin: 0;
			padding: 0;
			list-style: none;
			display: none;

			> li {
				padding-right: 5px;

				> a {
					color: #cccccc;
					font-size: 12px;
					line-height: 16px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.footer-contact {
		float: right;
		width: 180px;

		.footer-contact-title {
			color: #adaa99;
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 5px;
			font-family: $font-second;
		}

		.footer-map {
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.footer-nav  {
			width: 400px;

			.footer-nav-wrap {
				float: left;

				&:first-child {
					width: 33.33%;
				}

				&:last-child {
					width: 66.66%;
				}
			}

			.footer-nav-item  {
				float: left;
				width: 33.33%;
				padding-right: 10px;

				.footer-nav-title {

					i {
						display: none;
					}
				}
			}

			.footer-nav-menu {
				display: block;
				padding: 10px 0 0 0;

				> ul {
					margin: 0;
					padding: 0;
					list-style: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.footer-nav {
			width: 740px;

			.footer-nav-item {
				width: 100%;
			}

			.footer-nav-catalog {
				float: left;
				width: 620px;

				.footer-nav-item {

					.footer-nav-title {
						display: none;
					}

					.footer-nav-content {
						display: block;
					}

					&.open {

						.footer-nav-menu {
							@include flexbox();
						}
					}
				}

				.footer-nav-menu {
					padding: 0;
				}
			}

			.footer-nav-about {
				float: left;
				width: 120px;
			}

			.footer-nav-menu {
				width: 100%;

				@include flexbox();
				@include flex-wrap(wrap);

				> ul {
					width: 25%;

					> li {
						margin-bottom: 10px;
						break-inside: avoid;
						display: inline-block;


						> a {
							width: 100%;
							color: #adaa99;
							cursor: pointer;
							font-size: 24px;
							line-height: 24px;
							display: inline-block;
							text-decoration: none;
							text-transform: lowercase;
							font-family: $font-second;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {


		.footer-nav {
			width: 960px;

			.footer-nav-catalog {
				width: 720px;
			}

			.footer-nav-about {
				width: 240px;
				@include flexbox();
				@include flex-wrap(wrap);

				.footer-nav-item {
					width: 50%;
				}
			}
		}
	}
}

