.top {
	height: 20px;
	background: #666;

	.top-account {
		float: right;
		padding: 2px 0;
		color: #fefefe;
		font-size: 12px;
		line-height: 16px;
		@include clearfix();
		text-align: right;

		> li {
			margin-left: 20px;
			display: inline-block;

			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					color: #adaa99;
				}

				span {
					margin-left: 5px;
				}
			}
		}
	}
}


.header {
	background: #212121;

	.header-logo {
		float: left;
		padding: 3px 0;
		display: inline-block;
		@include clearfix();

		.header-logo-image {
			float: left;
			width: 46px;
			height: 46px;
			display: inline-block;
		}

		.header-logo-text {
			height: 46px;
			float: left;
			display: none;
			color: #a0a0a0;
			font-size: 12px;
			line-height: 20px;
			padding: 13px 0 13px 15px;

			strong {
				color: #f7f5f5;
				font-size: 18px;
				font-weight: 400;
			}
		}
	}

	.topnav-toggle {
		width: 35px;
		height: 52px;
		font-size: 0;
		float: right;
		line-height: 0;
		cursor: pointer;
		margin-right: -10px;
		position: relative;
		display: inline-block;
		padding: 18px 10px 0 10px;

		span {
			width: 100%;
			height: 3px;
			margin-bottom: 3px;
			background: #93937f;
			display: inline-block;
		}

		&.open {
			background: #3e3e3e;
		}
	}

	.header-content {
		margin: 0;
		padding: 0;
		width: 100%;
		position: relative;
		list-style: none;
		@include clearfix();
	}

	.header-right {
		margin: 0;
		padding: 0;
		float: right;
		list-style: none;
		@include clearfix();


		> li {
			float: right;
			position: relative;

			&.open {

				.header-cart {
					background: #3e3e3e;
				}

				.header-basket {
					display: block;
				}
			}
		}
	}


	.header-search {
		width: 80px;
		height: 28px;
		position: relative;
		margin: 12px 7px 12px 6px;

		input {
			margin: 0;
			width: 100%;
			color: #eee;
			outline: none;
			font-size: 10px;
			line-height: 12px;
			display: inline-block;
			background: transparent;
			padding: 7px 30px 7px 8px;
			border: 1px solid #6b6960;
			@include border-radius(3px);
			@include placeholder($color-green);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				@include placeholder(transparent);
			}
		}

		button {
			top: 0;
			right: 0;
			padding: 0;
			width: 28px;
			height: 28px;
			border: none;
			outline: none;
			font-size: 0;
			line-height: 0;
			position: absolute;
			display: inline-block;
			background: transparent url("../img/header_search.png") 0 50% no-repeat;

			&:hover {
				@include opacity(0.7);
			}
		}
	}

	.header-choice {
		height: 52px;
		font-size: 12px;
		line-height: 14px;
		color: $color-green;
		display: block;
		position: relative;
		cursor: pointer;
		padding: 12px 7px 12px 6px;

		&:hover {
			background: #3e3e3e;
		}

		i {
			font-size: 22px;
			line-height: 28px;
		}

		span {
			display: none;
		}
	}

	.header-like {
		width: 52px;
		height: 52px;
		display: block;
		cursor: pointer;
		font-size: 12px;
		line-height: 14px;
		position: relative;
		background: transparent url("../img/icon-like.png") 50% 50% no-repeat;

		&:hover {
			background-color: #3e3e3e;
		}

		span {
			top: 4px;
			left: 24px;
			width: 14px;
			height: 14px;
			padding: 1px 0;
			color: #212121;
			font-size: 11px;
			line-height: 12px;
			text-align: center;
			position: absolute;
			background: #f37021;
			display: inline-block;
			@include border-radius(50%);
		}
	}

	.header-cart {
		height: 52px;
		z-index: 1000;
		cursor: pointer;
		font-size: 12px;
		line-height: 14px;
		color: $color-green;
		position: relative;
		display: inline-block;
		padding: 12px 7px 12px 6px;

		&:hover {
			background: #3e3e3e;
		}

		b {
			top: 4px;
			left: 18px;
			width: 14px;
			height: 14px;
			padding: 1px 0;
			color: #212121;
			font-size: 11px;
			line-height: 12px;
			text-align: center;
			position: absolute;
			background: #f37021;
			display: inline-block;
			@include border-radius(50%);
		}

		i {
			font-size: 22px;
			line-height: 28px;
		}

		span {
			display: none;

			small {
				color: #a0a0a0;
				font-size: 100%;
			}
		}
	}

	.header-contact {
		display: none;
		color: #fefefe;
		font-size: 12px;
		line-height: 20px;
		text-align: right;

		span {

		}

		a {
			color: #f7f5f5;
			font-size: 18px;
			line-height: 20px;
			margin-left: 5px;
			text-decoration: none;
		}
	}

	.header-nav {
		top: 100%;
		right: 0;
		width: 200px;
		z-index: 1000;
		display: none;
		padding: 10px 0;
		position: absolute;
		background: #3e3e3e;

		&.open {
			display: block;
		}

		.header-nav-primary {
			margin: 0;
			padding: 0;
			list-style: none;
			@include clearfix();
			display: table-header-group;

			> li {

				> a {
					width: 100%;
					color: #d2d2d2;
					font-size: 14px;
					line-height: 16px;
					position: relative;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;
					padding: 3px 40px 3px 15px;

					i {
						top: 2px;
						right: 15px;
						position: absolute;
					}

					&:hover {
						background: #565656;
					}
				}

				&.active {

					> a {
						color: #d2d2d2;

						&:hover {

						}
					}
				}

				&.dropdown {

					&:hover {

						> a {
							background: #565656;
						}

						.dropnav {
							display: block;
						}

					}

				}
			}

			.dropnav {
				margin: 0;
				padding: 0;
				display: none;
				list-style: none;

				> li {
					border-bottom: 1px solid #3e3e3e;
					&:last-child {
						border-bottom: none;
					}

					> a {
						width: 100%;
						font-size: 12px;
						line-height: 15px;
						padding: 5px 15px;
						background: #474747;
						display: inline-block;

						&:hover {
							color: #f37021;
						}

					}
				}
			}
		}

		.header-nav-second {
			margin: 15px 0 0 0;
			padding: 15px 0 0 0;
			list-style: none;
			@include clearfix();
			border-top: 1px solid #4a4a4a;
			display: table-footer-group;

			> li {

				> a {
					width: 100%;
					color: #d2d2d2;
					font-size: 14px;
					line-height: 16px;
					position: relative;
					display: inline-block;
					text-decoration: none;
					padding: 3px 40px 3px 15px;

					.social-icon {
						display: none;
						font-size: 12px;

						&.icon-vk {

						}

						&.icon-facebook {

						}

						&.icon-instagram {

							&:before {
								width: 1px;
								height: 1px;
								position: absolute;
								@include opacity(0);
								background: url("../img/instagram_bg.png") 50% 50% no-repeat;
							}
						}
					}

					&:hover {
						background: #565656;


						.social-icon {

							&.icon-vk {
								color: #fff;
								background: #4a668e;
							}

							&.icon-facebook {
								color: #fff;
								background: #3b579d;
							}

							&.icon-instagram {
								color: #fff;
								background: url("../img/instagram_bg.png") 50% 50% no-repeat;
							}
						}
					}
				}

				&.active {

					> a {
						color: #d2d2d2;

						&:hover {

						}
					}
				}
			}
		}

	}

	@media (min-width: $screen-sm-min) {

		.header-logo {

			.header-logo-text {
				display: inline-block;
				white-space: nowrap;
			}
		}

		.header-search {
			width: 160px;
		}

		.header-choice {
			padding: 12px 8px 12px 8px;

			i {
				font-size: 28px;
				line-height: 28px;
			}
		}

		.header-cart {
			padding: 12px 8px 12px 8px;

			i {
				font-size: 28px;
				line-height: 28px;
			}
		}

		.topnav-toggle {
			width: 40px;

			span {
				height: 4px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.header-content {
			width: 500px;
			float: right;
		}

		.header-right {
			width: 418px;
			height: 53px;
			margin-top: 40px;
			padding-right: 0;
			border-top: 1px solid #686868;

			> li {
		//		margin-left: 20px;

				&:last-child {
					margin-right: 20px;
				}
			}
		}


		.header-contact {
			top: 12px;
			right: 0;
			display: block;
			position: absolute;
		}

		.topnav-toggle {
			display: none;
		}

		.header-logo {
			padding: 8px 0;

			.header-logo-image {
				width: 76px;
				height: 76px;
			}

			.header-logo-text {
				display: none;
			}
		}

		.header-search {
			margin: 13px 0 0 0;
		}

		.header-choice {
			padding: 10px 5px 10px 5px;
			@include clearfix();

			i {
				float: left;
				margin-right: 5px;
			}

			span {
				float: left;
				display: inline-block;
			}
		}

		.header-like {
			width: 68px;

			span {
				left: 36px;
			}
		}

		.header-cart {
			height: 52px;
			display: block;
			padding: 10px 5px 10px 5px;
			@include clearfix();

			i {
				float: left;
				margin-right: 5px;
			}

			span {
				float: left;
				display: inline-block;
			}
		}


		.header-nav {
			top: auto;
			padding: 0;
			right: auto;
			float: left;
			width: 430px;
			display: block;
			position: relative;
			background: transparent;


			.header-nav-primary {
				display: block;
				margin: 0 -4px;
				padding: 0;
				@include clearfix();
				border-top: 1px solid #686868;

				> li {
					float: left;
					position: relative;

					> a {
						padding: 16px 4px;
						font-size: 18px;
						line-height: 20px;

						&:hover {

							i {
								@include rotate(180deg);
								@include transition(.3s);
							}

						}

						i {
							top: auto;
							left: auto;
							right: auto;
							position: relative;
							@include transition(.3s);
						}
					}

					&:last-child {

						> a{
							margin-right: 0;
						}
					}
				}

				.dropnav {
					left: 0;
					top: 100%;
					position: absolute;
				}
			}

			.header-nav-second {
				margin: 0;
				padding: 2px 0 3px 0;
				display: block;

				> li {
					float: left;
					margin-right: 15px;

					> a {
						padding: 9px 2px;

						.social-icon {
							width: 18px;
							height: 18px;
							padding: 2px 0;
							color: #212121;
							font-size: 14px;
							line-height: 14px;
							text-align: center;
							background: #adaa99;
							display: inline-block;
							@include border-radius(50%);
						}

						.social-name {
							display: none;
						}

						&:hover {
							background: transparent;
							color: #adaa99;
						}
					}

					&.social {
						display: none;
						margin-right: 12px;

						> a {

							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.header-content {
			width: 615px;
			float: right;
		}

		.header-right {
			width: 525px;
		}

		.header-nav {
			width: 525px;

			.header-nav-primary {

				> li{
					margin-right: 25px;
				}
			}

			.header-nav-second {

				> li {
					&:last-child {
						margin: 0;
					}

					margin-right: 15px;

					&.social {
						display: block;
					}

					.social-inov {
						display: none;
					}

					.social-name {
						display: block;
					}
				}
			}
		}
	}
}


.cat-menu {
	z-index: 500;
	background: #93937f;
	border-top: 1px solid #93937f;
	border-bottom: 1px solid #93937f;

	&.open {
		background: #212121;

		.cat-menu-heading {

			.cat-menu-title {
				color: #93937f;
			}

			.cat-menu-toggle {

				span {
					background: #93937f;
				}
			}
		}

		.cat-nav {
			margin-top: 1px;
			display: block;
		}
	}

	.cat-menu-heading {
		cursor: pointer;
		@include clearfix();

		.cat-menu-title {
			float: left;
			padding: 8px 0;
			color: #212121;
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;
			font-family: $font-second;
		}

		.cat-menu-toggle {
			width: 35px;
			height: 34px;
			float: right;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			padding: 8px 10px;
			margin-right: -10px;
			display: inline-block;

			span {
				width: 100%;
				height: 3px;
				margin-bottom: 3px;
				background: #212121;
				display: inline-block;
			}
		}
	}

	.cat-nav {
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		z-index: 999;
		display: none;
		list-style: none;
		position: absolute;
		background: #93937f;

		> li {
			border-top: 1px solid #212121;

			> a {
				width: 100%;
				color: #212121;
				font-size: 18px;
				padding: 4px 15px;
				line-height: 20px;
				background: #7e7e6d;
				display: inline-block;
				font-family: $font-second;
				text-transform: uppercase;
			}

			&:hover {

				.cat-dropnav {
					display: block;
				}
			}
		}
	}

	.cat-dropnav {
		z-index: 1000;
		display: none;
		background: #212121;

		.cat-dropnav-item {

			.cat-dropnav-heading {
				display: none;
				color: #fff;
				font-size: 18px;
				line-height: 20px;
				min-height: 36px;
				margin: 0 10px 10px 10px;
				padding: 10px 5px 5px 5px;
				font-family: $font-second;
				text-transform: uppercase;

				&.active {
					border-bottom: 1px solid #4a4a4a;
				}
			}

			> ul {

				> li {

					> a {
						width: 100%;
						color: #b6b4b4;
						font-size: 12px;
						line-height: 20px;
						padding: 4px 15px;
						display: inline-block;

						&:hover {
							color: $color-orange;
							background: #303030;
						}
					}
				}
			}

			.cat-dropnav-large {

				a {
					color: #fff;
					width: 100%;
					font-size: 18px;
					line-height: 20px;
					padding: 5px 15px;
					display: inline-block;
					font-family: $font-second;

					&:hover {
						color: $color-orange;
					}
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		border: none;
		background: #93937f;

		.cat-menu-heading {
			display: none;
		}

		.cat-nav {
			top: auto;
			left: auto;
			display: table;
			position: relative;
			border-bottom: none;
			border-left: 1px solid #212121;
			border-right: 1px solid #212121;

			> li {
				border-top: none;
				position: relative;
				display: table-cell;
				vertical-align: middle;
				border-left: 2px solid #212121;
				border-right: 2px solid #212121;

				> a {
					font-size: 16px;
					line-height: 20px;
					padding: 13px 2px;
					text-align: center;
					position: relative;
					background: #93937f;
					border: 1px solid #93937f;
				}

				&:hover {
					background: #212121;

					/*
					&:before,
					&:after {
						bottom: 1px;
						z-index: 10;
						width: 1px;
						height: 2px;
						content: '';
						position: absolute;
						background: #93937f;
					}

					&:before {
						left: 0;
					}

					&:after {
						right: 0;
					}
					*/

					> a {
						color: #93937f;
						background: #212121;
						border-top-color: #93937f;
						border-left-color: #212121;
						border-right-color: #212121;
						border-bottom-color: #93937f;
						/*
						&:before,
						&:after {
							top:0;
							z-index: 5;
							width: 1px;
							height: 2px;
							content: '';
							position: absolute;
							background: #93937f;
						}

						&:before {
							left: 0;
						}

						&:after {
							right: 0;
						}
						*/
					}

					.cat-dropnav {
						@include flexbox();
						@include flex-wrap(wrap);
					}
				}
			}
		}


		.cat-dropnav {
			left: 0;
			top: 100%;
			position: absolute;

			.cat-dropnav-item {

				.cat-dropnav-heading {

					&.active {
						display: block;
					}
				}

				.cat-dropnav-large {
					margin: 0 10px;
					padding: 10px 0;
					border-bottom: 1px solid #4a4a4a;

					&:last-child {
						border-bottom: none;
					}
				}
			}

			.cat-dropnav-section {
				background: url("../img/dropnav_bg.png") 100% 0 repeat-y;
			}

			&.cat-dropnav-01 {
				width: 310px;

				.cat-dropnav-item {
					width: 50%;
					background: url("../img/dropnav_bg.png") 100% 0 repeat-y;
				}
			}

			&.cat-dropnav-02 {
				width: 460px;
				@include clearfix();

				.cat-dropnav-section {
					width: 33.33%;
				}
			}

			&.cat-dropnav-03 {
				left: -120px;
				width: 460px;
				@include clearfix();

				.cat-dropnav-section {
					width: 33.33%;
				}
			}

			&.cat-dropnav-04 {
				min-width: 100%;

				.cat-dropnav-item {
					width: 100%;
					background: url("../img/dropnav_bg.png") 100% 0 repeat-y;
				}
			}

			&.cat-dropnav-05 {
				width: 310px;
				left: auto;
				right: -50px;

				.cat-dropnav-section {
					width: 50%;
				}
			}

			&.cat-dropnav-06 {
				left: auto;
				right: 0;

				.cat-dropnav-item {
					background: url("../img/dropnav_bg.png") 100% 0 repeat-y;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.cat-nav {

			> li {

				> a {
					font-size: 22px;
					line-height: 24px;
					padding: 11px 2px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.cat-nav {

			> li {

				> a {
					font-size: 24px;
				}
			}
		}

		.cat-dropnav {

			.cat-dropnav-section {
				@include clearfix();
				background: transparent;
			}

			.cat-dropnav-item {
				padding-bottom: 15px;
				background: url("../img/dropnav_bg.png") 100% 0 repeat-y;

				.cat-dropnav-heading {
					display: block;
				}
			}

			&.cat-dropnav-02 {
				width: 926px;

				.cat-dropnav-section {
					@include flexbox();
					@include flex-wrap(wrap);

					&:nth-child(1) {
						width: 50%;

						.cat-dropnav-item {
							width:33%;
						}
					}

					&:nth-child(3) {
						width: 16.66%;

						.cat-dropnav-item {
							width: 100%;
						}
					}
				}

				.cat-dropnav-item {
					width: 50%;
				}
			}

			&.cat-dropnav-03 {
				width: 1156px;
				left: -485px;

				.cat-dropnav-section {
					@include flexbox();
					@include flex-wrap(wrap);

					&:nth-child(1) {
						width: 42.857%;

						.cat-dropnav-item {
							width:33%;
						}
					}

					&:nth-child(2) {
						width: 28.571%;

						.cat-dropnav-item {
							width: 50%;
						}
					}

					&:nth-child(3) {
						width: 28.571%;

						.cat-dropnav-item {
							width: 50%;
						}
					}
				}

				.cat-dropnav-item {
					width: 50%;
				}
			}

			&.cat-dropnav-05 {
				width: 770px;
				right: -125px;

				.cat-dropnav-section {
					@include flexbox();
					@include flex-wrap(wrap);

					&:first-child {
						width: 465px;

						.cat-dropnav-item {
							width: 33.33%;
						}
					}

					&:last-child {
						width: 305px;

						.cat-dropnav-item {
							width: 50%;
						}
					}
				}
			}
		}

	}

}

.header-basket {
	right: 0;
	top: 100%;
	width: 270px;
	z-index: 1000;
	display: none;
	background: #3e3e3e;
	position: absolute;
	border: 1px solid #686868;
	border-top: 2px solid $color-orange;

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
		border-bottom: 1px solid #686868;

		> li {
			padding: 6px 10px;
			position: relative;
			border-bottom: 1px solid #686868;

			&:last-child {
				border-bottom: none;
			}
		}
	}


	.header-basket-delete {
		top: 5px;
		right: 10px;
		width: 10px;
		height: 10px;
		z-index: 10;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: url("../img/icon-delete.png") 50% 50% no-repeat;
	}

	.header-basket-item {
		margin: 0;
		z-index: 5;
		padding: 0;
		width: 100%;
		display: table;
		list-style: none;
		position: relative;

		> li {
			display: table-cell;
			vertical-align: middle;

			&:nth-child(1) {
				width: 65px;
				padding-right: 10px;
			}

			&:nth-child(2) {
				color: #b2b2b2;
				font-size: 12px;
				line-height: 14px;
				padding-right: 20px;
				font-family: $font-second;
				text-transform: uppercase;
			}

			&:nth-child(3) {
				width: 55px;
				color: #fff;
			}

			a {
				color: #b2b2b2;
			}
		}
	}

	.header-basket-summary {
		padding: 0 10px 10px 10px;

		ul {
			padding: 0;
			width: 100%;
			display: table;
			list-style: none;
			margin: 0 0 13px 0;
			border-bottom: 1px solid #686868;

			li {
				padding: 6px 0;
				display: table-cell;
				vertical-align: middle;

				&:first-child {
					color: #adaa99;
					font-size: 12px;
					line-height: 14px;
				}

				&:last-child {
					width: 60px;
					font-size: 12px;
					line-height: 14px;
					color: $color-orange;
				}
			}
		}

	}

	@media (min-width: $screen-sm-min) {
		width: 320px;

		.header-basket-item {

			> li {

				&:nth-child(1) {
					width: 80px;
					padding-right: 10px;
				}

				&:nth-child(3) {
					width: 75px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

