.jobs {
	margin: 0;
	list-style: none;
	padding: 10px 0 0 0;

	> li {
	}


	.jobs-title {
		color: #93937f;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		background: #333333 url("../img/jobs_title_bg.png") 0 100% repeat-x;
		font-family: $font-second;
		text-transform: uppercase;
		padding: 5px 0 20px 0;

		&:hover {

			a {
				color: #fff;
			}
		}

		&.open {

			a {
				&:after {
					content: "\f106";
				}
			}
		}

		a {
			color: #93937f;
			text-decoration: none;

			&:after {
				content: "\f107";
				margin-left: 5px;
				font-family: FontAwesome;
			}
		}
	}

	.jobs-content {
		display: none;
		color: #c3c3c3;
		font-size: 12px;
		line-height: 16px;

		h4 {
			color: #93937f;
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
			margin-bottom: 0;
		}

		p {
			margin-bottom: 20px;
		}

		ul {
			padding: 0;
			list-style: none;
			margin: 0 0 20px 0;

			li {
				padding-left: 10px;
				position: relative;

				&:before {
					top: 0;
					left: 0;
					content: '-';
					color: #c3c3c3;
					font-size: 12px;
					line-height: 16px;
					position: absolute;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

	}
}