.showcase-moto {
	overflow: hidden;
	position: relative;
	border: 1px solid #686868;
	@include border-radius(0 0 5px 5px);

	.showcase-tag {
		top: 0;
		left: 10px;
		color: #fff;
		font-size: 12px;
		padding: 3px 8px;
		line-height: 14px;
		text-align: center;
		position: absolute;
		display: inline-block;
		background: $color-orange;

		&.tag-green {
			background: #03aa07;
		}
	}

	.showcase-like {
		top: 10px;
		right: 10px;
		width: 23px;
		height: 21px;
		cursor: pointer;
		display: inline-block;
		position: absolute;

		&:before {
			top: 0;
			left: 0;
			width: 23px;
			height: 21px;
			content: ' ';
			position: absolute;
			display: inline-block;
			background: url("../img/icon-headt.png") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	.showcase-text {
		padding: 5px;

		h4 {
			color: #ffffff;
			font-size: 18px;
			line-height: 18px;
			margin-bottom: 5px;
			white-space: nowrap;
			overflow: hidden;
			height: 20px;
			text-transform: uppercase;
			font-family: $font-second;

			a {
				color: #fff;

				&:hover {
					color: #adaa99;
				}
			}
		}
	}

	.showcase-info {
		color: #848383;
		font-size: 12px;
		width: 100%;
		display: table;

		> ul {
			margin: 0;
			padding: 0;
			display: table-row;
			list-style: none;
			@include clearfix();

			> li {
				display: table-cell;
				vertical-align: top;

				&:nth-child(1) {

				}
			}
		}
	}

	.showcase-purchase {
		margin: 0;
		height: 60px;
		padding: 5px;
		background: #212121;
		list-style: none;
		@include clearfix();

		.showcase-price {
			margin: 0 0 7px 0;
			padding: 0 0 5px 0;
			list-style: none;
			@include clearfix();
			border-bottom: 1px solid #666;

			li {
				width: 50%;
				float: left;

				&:last-child {
					text-align: right;
				}
			}

			.price-old {
				font-size: 12px;
				line-height: 18px;
				color: #848383;
				text-decoration: line-through;
			}

			.price-new {
				font-size: 12px;
				line-height: 18px;
				color: #adaa99;

			}
		}

		.showcase-price-single {
			margin: 0 0 7px 0;
			padding: 0 0 5px 0;
			text-align: center;
			@include clearfix();
			border-bottom: 1px solid #666;
		}

		.showcase-button {
			margin: 0;
			padding: 0;
			text-align: center;
			list-style: none;
			@include clearfix();

			li {

				&:last-child {
					display: none;
				}
			}

			.btn-credit {
				color: #fff;
				font-size: 12px;
				line-height: 16px;
				padding-left: 20px;
				display: inline-block;
				text-decoration: none;
				position: relative;

				span {
					top: 1px;
					left: 0;
					width: 14px;
					height: 14px;
					color: #212121;
					font-size: 11px;
					line-height: 14px;
					background: #f57922;
					display: inline-block;
					position: absolute;
					text-align: center;
					@include border-radius(50%);
				}

				&:hover {
					color: $color-orange;

					span {
						background: #fff;
						color: $color-orange;
					}
				}
			}

			.btn-tradein {
				width: 100%;
				color: #212121;
				padding: 6px 4px;
				background: #93937f;
				font-family: $font-second;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 16px;
				display: inline-block;
				text-decoration: none;
				position: relative;
				vertical-align: middle;
			}
		}
	}
}

.product-bike {
	position: relative;
	margin-bottom: 15px;
	@include clearfix();

	.product-sale {
		left: 15px;
		top: 0;
		z-index: 10;
		color: #fff;
		font-size: 12px;
		padding: 3px 8px;
		line-height: 14px;
		text-align: center;
		position: absolute;
		display: none;
		background: $color-orange;
	}


	.product-gallery {
		margin-bottom: 10px;
		@include clearfix();

		.product-image {
			margin-bottom: 5px;

			.product-image-item {
				display: none;

				&.active {
					display: block;
				}
			}
		}

		.product-thumbs {
			padding: 0;
			margin: 0 -2px;
			list-style: none;
			@include clearfix();

			li {
				width: 25%;
				float: left;
				padding: 0 2px;
				position: relative;

				a {
					display: block;
					overflow: hidden;
					position: relative;
					border: 1px solid #666;
					@include border-radius(3px);

					.product-thumbs-hover {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						position: absolute;
						display: block;
						@include opacity(0);
						visibility: hidden;
					}

					&:hover {
						border-color: #212121;

						.product-thumbs-hover {
							@include opacity(1);
							visibility: visible;
						}
					}
				}

				&.active {

					a {
						border-color: #212121;
					}
				}
			}
		}
	}

	h1 {
		color: #fff;
		margin-bottom: 10px;
		font-family: $font-second;
		text-transform: uppercase;
	}

	.product-data {
		@include clearfix();

		.product-info {
			float: left;
			width: 190px;

			tr {
				border-bottom: 1px solid #686868;

				&:last-child {
					border-bottom: none;
				}

				td {
					color: #d7d7d7;
					font-size: 12px;
					line-height: 20px;
					vertical-align: middle;
				}
			}
		}

		.product-price {
			margin: 0;
			padding: 55px 0 0 0;
			width: 90px;
			float: right;
			list-style: none;
			text-align: center;

			li {

				&.price-old {
					color: #848383;
					font-size: 14px;
					font-weight: 700;
					line-height: 24px;
					text-decoration: line-through;
				}

				&.price-new {
					color: #f37021;
					font-size: 18px;
					font-weight: 700;
					line-height: 24px;
				}
			}
		}

		.product-purchase {
			margin: 10px 0 10px 0;
			float: left;
			width: 100%;
			list-style: none;
			position: relative;
			@include clearfix();
			padding: 0 30px 0 0;

			li {
				float: left;
				width: 50%;
				padding-right: 5px;

				&:last-child {
					top: 0;
					right: 0;
					width: auto;
					padding-right: 0;
					position: absolute;
				}

				.btn {
					width: 100%;
				}

				.btn-like {
					width: 30px;
					height: 30px;
					font-size: 0;
					line-height: 0;
					cursor: pointer;
					position: relative;
					display: inline-block;
					border: 1px solid #545454;

					&:hover {
						border-color: #7c7c7c;
					}

					&:before {
						top: 50%;
						left: 50%;
						width: 18px;
						height: 16px;
						content: ' ';
						margin-top: -8px;
						margin-left: -9px;
						position: absolute;
						display: inline-block;
						background: url("../img/icon-headt.png") 50% 50% no-repeat;
						background-size: cover;
					}
				}
			}
		}

		.product-social {
			float: left;
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
		display: table;

		.product-sale {
			display: inline-block;
		}

		.product-gallery {
			display: table-cell;
			width: 365px;
			margin-bottom: 33px;

			.product-thumbs {
				margin: 0 -8px;

				li {
					padding: 0 8px;
				}
			}
		}

		.product-data {
			float: none;
			display: table-cell;
			padding-left: 15px;
			vertical-align: bottom;

			.product-info {
				float: none;
				margin-bottom: 10px;
			}

			.product-price {
				width: 100%;
				float: none;
				padding-top: 0;
				text-align: left;
			}

			.product-purchase {
				float: none;

				li {
					width: 100%;
					float: none;

					&:first-child {
						margin-bottom: 5px;
					}
				}
			}

			.product-social {
				float: none;
				text-align: left;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.product-data {
			padding-left: 20px;

			h1 {
				font-size: 48px;
				line-height: 50px;
				margin-bottom: 0;
			}

			.product-price {
				font-size: 24px;
				line-height: 30px;

				li {
					&.price-old {
						font-size: 20px;
						line-height: 30px;
					}

					&.price-new {
						font-size: 24px;
						line-height: 30px;
					}
				}
			}

			.product-social {
				padding-right: 35px;
				text-align: center;
			}

			.product-purchase {
				padding-right: 45px;

				li {

					&:first-child {
						margin-bottom: 10px;
					}

					.btn-like {
						width: 40px;
						height: 40px;
					}
				}

				.btn {
					font-size: 24px;
					line-height: 30px;
				}

				.form-number {

					.form-number-control {
						font-size: 16px;
						line-height: 20px;
						padding: 9px 3px;
					}
				}
			}


		}
	}


	@media (min-width: $screen-lg-min) {

		.product-sale {
			left: 110px;
		}

		.product-gallery {
			margin: 0;
			width: 600px;
			position: relative;

			.product-image {
				width: 510px;
				margin-bottom: 0;
				margin-left: 90px;
			}

			.product-thumbs {
				margin: 0;
				width: 80px;
				left: 0;
				bottom: 0;
				position: absolute;

				li {
					padding: 0;
					width: 100%;
					float: none;
					margin-top: 19px;
				}
			}
		}
	}
}

.product-detail {
	position: relative;

	&.product-podbor {

		.product-detail-toggle {
			text-align: left;
		}
	}

	.product-detail-toggle {
		padding-bottom: 25px;
		text-align: center;
		font-family: $font-second;
		text-transform: uppercase;
		background: url("../img/product-detail-toggle.jpg") 0 100% repeat-x;

		a {
			color: #93937f;
			font-size: 18px;
			line-height: 22px;
			display: inline-block;

			i {
				font-size: 22px;
			}

			&:hover {
				color: #fff;
			}
		}

		.product-detail-open {
			display: inline;
		}

		.product-detail-close {
			display: none;
		}
	}

	.sortable {
		right: 0;
		top: 5px;
		padding: 0;
		display: none;
		margin: 0 -6px;
		list-style: none;
		position: absolute;
		@include clearfix();

		> li {
			float: left;
			padding: 0 3px;

			label {
				color: #666;
				font-size: 14px;
				font-weight: 400;
				line-height: 14px;
				padding: 3px 4px;
				display: inline-block;

				&.checked {
					color: $color-orange;
				}

				&:hover {
					color: $color-orange;
				}
			}
		}
	}

	.product-detail-content {
		display: none;
		margin-bottom: 30px;
	}

	&.open {

		.product-detail-toggle {

			.product-detail-open {
				display: none;
			}

			.product-detail-close {
				display: inline;
			}
		}

		.product-detail-content {
			display: block;
		}
	}

	.product-bike-table {

		th,
		td {
			text-align: center;

			&:nth-child(6) {
				width: 95px;
			}

			&:nth-child(7) {
				width: 75px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&.open {

			.sortable {
				display: block;
			}
		}
	}
}
