.office-nav {
	margin: 0 -2px 10px -2px;

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: table;
		list-style: none;
	}

	li {
		padding: 0 2px;
		display: table-cell;
		vertical-align: middle;

		a {
			margin:0;
			width: 100%;
			outline: none;
			color: #adaa99;
			cursor: pointer;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			padding: 4px 10px;
			text-align: center;
			position: relative;
			background: #212121;
			display: inline-block;
			text-decoration: none;
			vertical-align: middle;
			background-image: none;
			font-family: $font-second;
			text-transform: uppercase;
			touch-action: manipulation;
			border: 1px solid #212121;
			@include border-radius(5px);

			&:hover {
				color: #212121;
				background: #666666;
				border-color: #666666;
				text-decoration: none;
			}
		}

		&.active {

			a {
				color: #212121;
				background: #666666;
				border-color: #666666;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		margin: 0 0 10px 0;

		ul {
			display: block;
			overflow: hidden;
		}

		li {
			padding: 0;
			display: block;
			margin-bottom: 8px;

			a {
				font-size: 18px;
				padding: 5px 15px;
				text-align: left;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.office-title {
	color: #737272;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.office-profile {
	width: 100%;
	display: table;
	margin-bottom: 10px;
	padding-bottom: 40px;
	background: url("../img/jobs_title_bg.png") 0 100% repeat-x;

	.office-user {
		width: 90px;
		display: table-cell;
		vertical-align: top;

		.office-user-photo {
			width: 68px;
			padding: 3px;
			margin: 0 0 5px 5px;
			border: 1px solid #666;
		}

		.office-user-social {
			margin: 0 -3px;
			@include clearfix();

			li {
				float: left;
				padding: 0 3px;


				a {
					color: #fff;
					width: 22px;
					height: 22px;
					padding: 4px 0;
					font-size: 14px;
					line-height: 14px;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					@include border-radius(50%);

					&.icon-vk {
						background: #54769a;
					}

					&.icon-facebook {
						background: #585792;
					}

					&.icon-odnoklassniki {
						background: #eb6b0e;
					}
				}
			}
		}
	}

	.office-form {
		display: table-cell;
		vertical-align: top;

		.form-group {
			margin-bottom: 15px;
		}

		.form-divider {
			height: 10px;
		}

		.office-form-action {
			text-align: right;

			.action-text {
				color: #a19f9f;
				font-size: 12px;
				line-height: 15px;
				margin-bottom: 5px;
				display: inline-block;

				span {
					white-space: nowrap;
				}
			}

			.btn {

			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.office-form {

			.office-form-action {

				.action-text {
					margin-right: 10px;

					span {

					}
				}
			}
		}
	}
	@media (min-width: $screen-md-min) {

	}
}

.office-shipping {

	@media (min-width: $screen-md-min) {

		.btn {
			margin-top: 4px;
		}
	}
}

.office-table {

	tr {
		border-bottom: 1px solid #686868;

		&:first-child {
			border-bottom: 0;
		}
	}

	th {
		color: #212121;
		font-size: 12px;
		font-weight: 700;
		padding: 3px 5px;
		line-height: 14px;
		background: #666666;
		border-left: 1px solid #212121;
	}

	td {
		text-align: center;
		vertical-align: middle;
		padding: 10px 5px 10px 10px;

	}

	.office-table-product {
		color: #fff;
		display: table;
		font-size: 16px;
		text-align: left;
		line-height: 20px;
		text-decoration: none;
		font-family: $font-second;
		text-transform: uppercase;

		.office-table-image {
			display: table-cell;
			width: 60px;
			padding-right: 10px;
			vertical-align: middle;
		}

		.office-table-name {
			display: table-cell;
			vertical-align: middle;
		}

		&:hover {
			color: $color-green;

			.office-table-image {
				@include opacity(0.8);
			}
		}
	}

	.office-table-price {
		color: #fff;
		display: inline-block;
		white-space: nowrap;
	}

	.btn-delete {
		width: 14px;
		height: 14px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 1px;
			height: 14px;
			content: ' ';
			margin-top: -7px;
			position: absolute;
			background: #666666;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	@media (min-width: $screen-sm-min) {

		.office-table-product {
			font-size: 18px;
			line-height: 20px;

			.office-table-image {
				width: 100px;
				padding-right: 20px;
			}
		}

		.office-table-price {
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
		}
	}

	@media (min-width: $screen-md-min) {

		td {
			&:first-child {
				padding-right: 15px;
			}
		}

	}

	@media (min-width: $screen-lg-min) {

		td {
			&:first-child {
				padding-right: 30px;
			}
		}

	}
}

.office-history {

	> li {
		margin-bottom: 35px;

		&.open {

			.office-history-content {
				display: block;
			}
		}
	}

	.office-history-header {
		margin: 0;
		padding: 0;
		width: 100%;
		display: table;
		cursor: pointer;
		list-style: none;

		> li {
			color: #a19f9f;
			font-size: 12px;
			line-height: 15px;
			padding: 15px 20px;
			display: table-cell;
			vertical-align: middle;
			position: relative;
			background: #212121 url("../img/tavle-header-bg.png") 0 0 repeat-y;

			&:first-child {
				width: 35px;
				text-align: center;
				padding: 15px 5px;
				background-image: none;
			}
		}

		.order-status {

			&.status-orange {
				color: $color-orange;
			}
		}

		.status-check {
			top: 50%;
			left: -10px;
			z-index: 10;
			width: 20px;
			height: 20px;
			padding: 3px 0;
			color: #2a2a28;
			font-size: 14px;
			margin-top: -10px;
			line-height: 14px;
			text-align: center;
			position: absolute;
			background: #93937f;
			display: inline-block;
			@include border-radius(50%);

			&.status-orange {
				background: $color-orange;
			}
		}
	}

	.office-history-content {
		display: none;

		.history-content-text {
			padding: 15px 15px 35px 15px;
			background: url("../img/jobs_title_bg.png") 0 100% repeat-x;

			ul {
				margin-bottom: 20px;

				li {
					color: #a19f9f;
					font-size: 12px;
					line-height: 14px;
					margin-bottom: 10px;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

	}


	@media (min-width: $screen-md-min) {


		.office-history-header {

			> li {
				padding: 15px 30px;
			}
		}
	}
}

.office-basket {

	tr {
		border-bottom: 1px solid #686868;

		&:first-child {
			border-bottom: 0;
		}
	}

	th {
		color: #212121;
		font-size: 12px;
		font-weight: 700;
		padding: 3px 5px;
		line-height: 14px;
		background: #666666;
		border-left: 1px solid #212121;

		&:last-child {
			width: 30px;
		}
	}

	td {
		text-align: center;
		position: relative;
		vertical-align: middle;
		padding: 10px 5px 10px 10px;

	}

	.office-basket-product {
		color: #fff;
		display: table;
		font-size: 16px;
		text-align: left;
		line-height: 20px;
		text-decoration: none;
		font-family: $font-second;
		text-transform: uppercase;

		.office-basket-image {
			display: none;
		}

		.office-basket-name {

		}
	}

	.office-basket-price {
		color: #fff;
		display: inline-block;
		white-space: nowrap;
	}

	.form-number {
		width: 65px;
	}

	.basket-delete {
		top: 5px;
		left: 50%;
		width: 14px;
		height: 14px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		margin-left: -7px;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 1px;
			height: 14px;
			content: ' ';
			margin-top: -7px;
			position: absolute;
			background: #666666;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	.basket-like {
		top: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
		cursor: pointer;
		margin: -15px 0 0 -15px;
		display: inline-block;
		position: absolute;
		border: 1px solid #666;

		&:before {
			top: 50%;
			left: 50%;
			width: 18px;
			height: 16px;
			content: '';
			margin-top: -8px;
			margin-left: -9px;
			position: absolute;
			display: inline-block;
			background: url('../img/icon-headt.png') 50% 50% no-repeat;
			background-size: cover;
		}
	}

	@media (min-width: $screen-sm-min) {

		th {

			&:last-child {
				width: 35px;
			}
		}

		.office-basket-product {
			font-size: 18px;
			line-height: 20px;

			.office-basket-image {
				width: 100px;
				padding-right: 20px;
				display: table-cell;
				vertical-align: middle;
			}
		}

		.office-basket-name {
			color: #fff;
			display: table-cell;
			vertical-align: middle;
		}

		.office-basket-price {
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
		}

		.basket-delete {

		}
	}

	@media (min-width: $screen-lg-min) {

		th {

			&:first-child {
				width: 465px;
			}
		}
	}
}
