.sidebar {
	position: relative;

	.promo-logo {
		display: none;
		margin-bottom: 20px;

		ul {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;

			> li {
				display: inline-block;
				margin-bottom: 4px;

				a {
					display: inline-block;
					@include transition(.2s);

					&:hover {
						@include opacity(0.6);
						@include transition(.2s);
					}
				}

				img {
					@include img-responsive(inline-block);
				}
			}
		}
	}


	.sidebar-promo {
		display: none;
	}

	@media (min-width: $screen-md-min) {
		float: left;
		width: 223px;

		.promo-logo {
			display: block;
			margin-bottom: 20px;
		}

		.sidebar-promo {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}


.content {

	@media (min-width: $screen-md-min) {
		float: right;
		width: 695px;
	}

	@media (min-width: $screen-lg-min) {
		width: 925px;
	}
}

.content-text {
	margin-bottom: 10px;
}

.content-block {
	padding-top: 15px;
}

.tools {
	padding: 0;
	list-style: none;
	margin: 0 -4px 8px -4px;
	@include clearfix();

	> li {
		float: left;
		padding: 0 4px;
		@include clearfix();

		&:first-child {

			.selectric-wrapper {
			}
		}

		&:nth-child(2) {
	//		display: none;
		}

		&:last-child {
			float: right;
		}
	}

	.select-label {
		display: none;
		color: #686868;
		padding: 3px 0;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		margin-right: 10px;
	}

	.tools-summary {
		color: #686868;
		padding: 3px 0;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		display: inline-block;
	}

	.pagination {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -2px;
		list-style: none;
		@include clearfix();

		> li {
			padding: 0 2px;
			color: #adaa99;
			font-size: 14px;
			line-height: 18px;
			display: inline-block;

			> a {
				width: 20px;
				height: 20px;
				padding: 1px 0;
				color: #adaa99;
				text-align: center;
				display: inline-block;
				@include border-radius(50%);

				i {
					font-size: 18px;
				}

				&:hover {
					color: #212121;
					background: $color-orange;
				}
			}

			&.active {

				> a {
					color: #212121;
					background: $color-orange;
				}
			}

			&:first-child,
			&:last-child {

				> a {
					color: #212121;
					background: #666;

					&:hover {
						color: #212121;
						background: $color-orange;
					}
				}

				&.active {

					> a {
						color: #212121;
						background: $color-orange;
					}
				}
			}
		}
	}


	.sortable {
		padding: 0;
		margin: 0 -6px;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			padding: 0 3px;

			label {
				color: #666;
				font-size: 14px;
				font-weight: 400;
				line-height: 14px;
				padding: 3px 2px;
				display: inline-block;

				&.checked {
					color: $color-orange;
				}

				&:hover {
					color: $color-orange;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		> li {
			margin-right: 20px;

			&:first-child {
				width: 170px;
				margin-right: 20px;

				.selectric-wrapper {
					width: 100%;
				}
			}

			&:nth-child(2) {
				display: block;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.tools-select {
			width: auto;
			padding-right: 40px;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			@include clearfix();

			&:nth-child(1) {
				width: 260px;

				.select-label {
					width: 100px;
				}

				.selectric-wrapper {
					float: left;
					width: 140px;
				}
			}

			&:nth-child(2) {
				width: 180px;

				.select-label {
					width: 95px;
				}

				.selectric-wrapper {
					float: left;
					width: 60px;
				}
			}
		}

		.select-label {
			float: left;
			margin-left: 0;
			display: inline-block;
		}
	}


	@media (min-width: $screen-lg-min) {

		> li {
			margin-right: 30px;

			&:first-child {

			}

			&:nth-child(2) {
				margin-right: 110px;
			}
		}
	}
}


.showcase-row {
	margin: 0 -3px;
	@include clearfix();

	.showcase-col {
		width: 50%;
		float: left;
		padding: 0 3px;
		margin-bottom: 6px;
	}


	@media (min-width: $screen-sm-min) {
		margin: 0 -5px;

		.showcase-col {
			width: 33.33%;
			padding: 0 5px;
		}
	}


	@media (min-width: $screen-lg-min) {

		.showcase-col {
			width: 25%;
		}
	}
}

.showcase-wrap {
	padding: 15px 0 10px 0;
	margin-bottom: 10px;
	border-top: 1px solid #686868;
	border-bottom: 1px solid #686868;

	&.view-list {
		padding: 0;
		border: none;

		.showcase-row {
			margin: 0;

			.showcase-col {
				margin: 0;
				padding: 0;
				width: 100%;
			}
		}

		.showcase {
			width: 100%;
			padding: 5px 0;
			display: table;
			border-left: none;
			border-right: none;
			@include border-radius(0);

			.showcase-tag {
				left: auto;
				right: 0;
			}

			.showcase-like {
				right: 0;
				top: 94px;
				z-index: 10;
				width: 30px;
				height: 30px;
				border: 1px solid #666;

				&:before {
					top: 50%;
					left: 50%;
					width: 18px;
					height: 16px;
					margin-top: -8px;
					margin-left: -9px;
					background-size: cover;
				}

				&:hover {
					border-color: #7c7c7c;
				}
			}

			.showcase-image {
				width: 75px;
				padding: 0;
				display: table-cell;
				vertical-align: top;


			}

			.showcase-text {
				padding: 0 5px;
				display: table-cell;
				vertical-align: top;

				.showcase-text-inner {
					height: 160px;
					max-height: 160px;
					overflow: hidden;
					position: relative;

					&:before {
						left: 0;
						right: 0;
						bottom: 0;
						content: '';
						height: 20px;
						position: absolute;
						background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(50,50,50,0.65) 98%, rgba(51,51,51,0.65) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(50,50,50,0.65) 98%,rgba(51,51,51,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(50,50,50,0.65) 98%,rgba(51,51,51,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6333333',GradientType=0 ); /* IE6-9 */
					}
				}

				h4 {
					height: auto;
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 5px;
				}

				p {
					display: block;
					margin: 0;
					max-height: 70px;
					overflow: hidden;
				}
			}

			.showcase-purchase {
				width: 88px;
				padding: 20px 0 5px 0;
				display: table-cell;
				vertical-align: top;
				background: transparent;

				li {
					padding: 0;
					width: 100%;
					text-align: center;
					margin-bottom: 5px;

					&:nth-child(1) {
						display: none;
					}

					&:nth-child(2) {
						color: #e7e6e6;
						font-size: 18px;
						font-weight: 700;
						line-height: 24px;
					}

					&:nth-child(4) {
						text-align: left;

						.btn {
							width: 52px;
							@include border-radius(0);
						}
					}

					&:nth-child(5) {
						display: block;
						margin-bottom: 0;
					}
				}
			}
		}

		.showcase-moto {
			width: 100%;
			padding: 5px 0;
			display: table;
			border-left: none;
			border-right: none;
			@include border-radius(0);

			.showcase-like {
				right: 0;
				top: 96px;
				width: 28px;
				height: 28px;
				border: 1px solid #666;

				&:before {
					top: 50%;
					left: 50%;
					width: 18px;
					height: 16px;
					margin-top: -8px;
					margin-left: -9px;
					background-size: cover;
				}
			}

			.showcase-tag {
				left: auto;
				right: 0;
			}

			.showcase-image {
				width: 85px;
				padding: 0;
				display: table-cell;
				vertical-align: top;
			}

			.showcase-text {
				padding: 0 5px;
				display: table-cell;
				vertical-align: top;

				h4 {
					height: auto;
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 5px;
				}
			}

			.showcase-purchase {
				width: 90px;
				padding: 0;
				padding-top: 15px;
				display: table-cell;
				vertical-align: top;
				background: transparent;

				.showcase-price {
					margin: 0;
					padding: 0;
					border-bottom: none;

					li {
						float: none;
						width: 100%;
						text-align: center;

						&:last-child {
							text-align: center;
						}
					}

					.price-old {
						color: #848383;
						font-size: 14px;
						font-weight: 700;
						line-height: 18px;
						text-decoration: line-through;
					}

					.price-new {
						color: #adaa99;
						font-size: 17px;
						font-weight: 700;
						line-height: 24px;
					}
				}

				.showcase-price-single {
					margin: 0;
					padding: 10px 0;
					text-align: center;
					color: #adaa99;
					font-size: 17px;
					font-weight: 700;
					line-height: 24px;
					border-bottom: none;
				}


				.showcase-button {

					li {
						float: none;
						width: 100%;

						&:first-child {
							margin-bottom: 5px;
						}

						&:last-child {
							width: 55px;
							display: block;
						}
					}

					.btn-credit {
						width: 100%;
						color: #212121;
						font-size: 14px;
						padding: 6px 2px;
						background: #93937f;
						position: relative;
						font-family: $font-second;
						text-transform: uppercase;
						vertical-align: middle;

						span {
							display: none;
						}


						&:before {
							top: 1px;
							left: 1px;
							right: 1px;
							bottom: 1px;
							content: '';
							display: none;
							position: absolute;
							border: 1px solid #4b4c47;

						}

						&:hover {
							color: #adaa99;
							background: #212121;

							&:before {
								display: block;
							}
						}
					}
				}
			}
		}
	}

	&.view-table {

		.showcase-row {
			margin: 0;
			display: none;
		}

		.showcase-table {
			display: table;
		}
	}

	.showcase-table {
		width: 100%;
		display: none;

		a {
			&:hover {
				color: $color-orange;
			}
		}

		.table-equipment {
			width: 100%;

			tr {
				font-size: 12px;
				line-height: 16px;

				&:nth-child(odd) {
					background: #484848;
				}

				&:nth-child(even) {
					background: #333;
				}

				th {
					color: #212121;
					font-weight: 700;
					padding: 2px 3px;
					background: #7d7b71;
					border-right: 1px solid #333;

					&:last-child {
						border-right: none;
					}
				}

				td {
					text-align: center;
					color: #d7d7d7;
					padding: 2px 3px;
					border-right: 1px solid #333;

					&:last-child {
						border-right: none;
					}
				}

				th,
				td {
					&:nth-child(1) {

						text-align: left;

						a {
							color: #d7d7d7;
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}
					}

					&:nth-child(2) {
						width: 80px;
						text-align: left;

						a {
							color: #d7d7d7;
							text-decoration: underline;

							&:hover {
								text-decoration: none;
							}
						}
					}

					&:nth-child(3) {
						width: 60px;
					}

					&:nth-child(4) {
						width: 64px;
					}
				}
			}

			.btn-text {
				margin: 0;
				padding: 0;
				border: none;
				outline: none;
				color: #d7d7d7;
				cursor: pointer;
				font-size: 12px;
				line-height: 16px;
				background: transparent;

				&:hover {
					color: $color-orange;
				}
			}
		}

		.table-spare {
			width: 100%;

			tr {
				font-size: 12px;
				line-height: 16px;

				&:nth-child(odd) {
					background: #484848;
				}

				&:nth-child(even) {
					background: #333;
				}

				th {
					color: #212121;
					font-weight: 700;
					padding: 2px 5px;
					background: #7d7b71;
					border-right: 1px solid #333;

					&:last-child {
						border-right: none;
					}
				}

				td {
					text-align: center;
					color: #d7d7d7;
					padding: 2px 5px;
					border-right: 1px solid #333;

					&:last-child {
						border-right: none;
					}

					&:nth-child(2) {

						a {
							color: #d7d7d7;
							text-decoration: underline;

							&:hover {
								text-decoration: none;
							}
						}
					}
				}

				th,
				td {
					&:nth-child(1) {
						text-align: left;
					}

					&:nth-child(4) {
						width: 60px;
					}

					&:nth-child(6) {
						width: 70px;
					}

					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(5) {
						display: none;
					}
				}

				.product-name {
					color: #d7d7d7;
					text-decoration: none;
				}
			}

			.btn-text {
				margin: 0;
				padding: 0;
				border: none;
				outline: none;
				color: #d7d7d7;
				cursor: pointer;
				font-size: 12px;
				line-height: 16px;
				background: transparent;
			}
		}

		.table-moto {
			width: 100%;

			tr {
				font-size: 12px;
				line-height: 16px;

				&:nth-child(odd) {
					background: #484848;
				}

				&:nth-child(even) {
					background: #333;
				}

				th {
					color: #212121;
					font-weight: 700;
					padding: 2px 5px;
					background: #7d7b71;
					border-right: 1px solid #333;

					&:last-child {
						border-right: none;
					}
				}

				td {
					text-align: center;
					color: #d7d7d7;
					padding: 2px 5px;
					border-right: 1px solid #333;

					&:last-child {
						border-right: none;
					}
				}

				th,
				td {
					&:nth-child(1) {
						text-align: left;
					}

					&:nth-child(2) {
						width: 40px;
					}

					&:nth-child(4) {
						width: 55px;
					}

					&:nth-child(6) {
						width: 60px;
					}

					&:nth-child(3),
					&:nth-child(5),
					&:nth-child(7),
					&:nth-child(8){
						display: none;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&.view-list {

			.showcase {

				.showcase-tag {
					right: 50px;
				}

				.showcase-like {
					top: 69px;
				}

				.showcase-image {
					width: 155px;
				}

				.showcase-text {
					padding: 10px 15px 0 10px;

					.showcase-text-inner {
						height: 120px;
						max-height: 120px;
						overflow: hidden;
					}

					h4 {
						font-size: 18px;
						line-height: 20px;
						margin-bottom: 10px;
					}

					.showcase-article {

						li {
							width: 120px;
							float: left;

							&:last-child {
								text-align: left;
							}
						}
					}

					p {
						max-height: 50px;
					}
				}

				.showcase-purchase {
					width: 145px;
					padding-top: 35px;
					padding-right: 35px;

					li {

						&:nth-child(3) {
							display: none;
						}

						&:nth-child(4) {

							.btn {
								padding: 5px;
								width: 110px;
								font-size: 16px;
							}
						}
					}
				}

				.btn {

					span {
						display: inline;
					}
				}
			}

			.showcase-moto {
				padding: 7px 0;

				.showcase-tag {
					right: 45px;
				}

				.showcase-like {
					right: 0;
					top: 65px;
				}

				.showcase-image {
					width: 155px;
				}

				.showcase-text {
					padding: 0 10px;

					h4 {
						font-size: 24px;
						line-height: 24px;
					}
				}

				.showcase-info {
					width: 190px;
				}

				.showcase-purchase {
					width: 145px;
					padding-right: 35px;

					.showcase-price {

						.price-new {
							font-size: 18px;
						}
					}

					.showcase-button {

						li {
							&:last-child {
								width: 100%;
							}
						}
					}

				}
			}
		}

		.showcase-table {

			.table-equipment {

				tr {

					td {
						padding: 2px 6px;

						&:nth-child(2) {
							width: 165px;
						}

						&:nth-child(3) {
							width: 90px;
						}

						&:nth-child(4) {
							width: 80px;
						}
					}
				}
			}

			.table-moto {

				tr {

					th,
					td {
						&:nth-child(3),
						&:nth-child(5),
						&:nth-child(7),
						&:nth-child(8){
							display: table-cell;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&.view-list {

			.showcase {

				.showcase-tag {
					right: 90px;
				}

				.showcase-like {
					top: 70px;
				}

				.showcase-text {

					.showcase-text-inner {
						height: 130px;
						max-height: 130px;
						overflow: hidden;
					}

					h4 {
						font-size: 24px;
						line-height: 26px;
					}
				}

				.showcase-purchase {
					width: 216px;
					padding-top: 30px;

					li {

						&:nth-child(2) {
							font-size: 24px;
							line-height: 30px;
						}

						&:nth-child(3) {
							width: 74px;
							display: block;
						}

						&:nth-child(4) {
							width: 100px;
							padding-left: 6px;

							.btn {
								width: 100%;
							}
						}
					}
				}
			}

			.showcase-moto {

				.showcase-tag {
					right: 90px;
				}

				.showcase-purchase {
					width: 210px;
					padding-right: 40px;
				}

				.showcase-text {

					h4 {
						font-size: 24px;
						line-height: 26px;
					}
				}
			}
		}

		.showcase-table {

			.table-spare {

				tr {

					&:nth-child(4) {
						width: 70px;
					}

					&:nth-child(6) {
						width: 80px;
					}

					th,
					td {

						&:nth-child(2),
						&:nth-child(3),
						&:nth-child(5) {
							display: table-cell;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&.view-list {

			.showcase {

				.showcase-tag {
					right: 245px;
				}

				.showcase-like {
					top: 34px;
				}

				.showcase-image {
					width: 160px;
				}

				.showcase-text {

					h4 {
						font-size: 24px;
						line-height: 26px;
					}
				}

				.showcase-purchase {
					width: 330px;
					position: relative;
					padding-left: 110px;
					padding-right: 40px;

					li {

						&:nth-child(2) {
							left: 0;
							top: 50px;
							width: auto;
							text-align: left;
							position: absolute;
						}
					}
				}
			}

			.showcase-moto {

				.showcase-tag {
					right: 245px;
				}

				.showcase-like {
					top: 52px;
				}

				.showcase-purchase {
					width: 360px;
					padding-top: 35px;
					@include clearfix();


					.showcase-price {
						width: 150px;
						float: left;

						.price-old {
							font-size: 14px;
						}

						.price-new {
							font-size: 24px;
							line-height: 30px;
						}
					}

					.showcase-price-single {
						width: 145px;
						float: left;
						padding-right: 0;
					}

					.showcase-button {
						width: 170px;
						float: left;
						padding-top: 10px;

						li {
							&:last-child {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}


.showcase {
	overflow: hidden;
	position: relative;
	border: 1px solid #686868;
	@include border-radius(0 0 5px 5px);

	&.showcase-equipment {

		.showcase-text {

			h4 {
				height: 60px;

				span {
					color: #b0b0b0;
				}
			}
		}
	}

	.showcase-size {
		padding: 0;
		height: 40px;
		font-size: 0;
		line-height: 0;
		list-style: none;
		overflow: hidden;
		margin: 0 -1px 0 -2px;
		@include clearfix();

		li {
			float: left;
			margin-bottom: 3px;
			padding: 0 1px 0 2px;
		}

		label {
			cursor: pointer;
			width: 28px;
			height: 18px;
			padding: 1px;
			color: #676767;
			font-size: 12px;
			line-height: 14px;
			text-align: center;
			display: inline-block;
			text-transform: uppercase;
			border: 1px solid #676767;
			@include border-radius(3px);

			&.checked {
				background: #111111;
			}

			&:hover {
				background: #111111;
			}
		}
	}

	.showcase-tag {
		top: 0;
		left: 10px;
		color: #fff;
		font-size: 12px;
		padding: 3px 8px;
		line-height: 14px;
		text-align: center;
		position: absolute;
		display: inline-block;
		background: $color-orange;

		&.tag-green {
			background: #03aa07;
		}
	}

	.showcase-like {
		top: 10px;
		right: 10px;
		width: 23px;
		height: 21px;
		cursor: pointer;
		display: inline-block;
		position: absolute;

		&:before {
			top: 0;
			left: 0;
			width: 23px;
			height: 21px;
			content: ' ';
			position: absolute;
			display: inline-block;
			background: url("../img/icon-headt.png") 50% 50% no-repeat;
			background-size: cover;
		}

		&:hover {
			@include opacity(0.7);
		}
	}

	.showcase-image {
		padding: 5px 15px;

		&:hover {

			img {
				@include opacity(0.7);
			}
		}
	}

	.showcase-text {
		padding: 0 6px 5px 6px;

		h4 {
			color: #ffffff;
			font-size: 16px;
			line-height: 18px;
			height: 75px;
			margin-bottom: 0px;
			text-transform: uppercase;
			font-family: $font-second;

			a {
				color: #fff;

				&:hover {
					color: #adaa99;
				}
			}
		}

		.showcase-article {
			margin: 0;
			padding: 0;
			color: #848383;
			font-size: 12px;
			width: 100%;
			list-style: none;
			@include clearfix();

			> li {


				&:nth-child(1) {
					float: left;
				}

				&:nth-child(2) {
					float: right;
				}
			}
		}

		p {
			display: none;
		}
	}

	.showcase-purchase {
		margin: 0;
		padding: 5px;
		background: #212121;
		list-style: none;
		@include clearfix();

		li {
			float: left;

			&:nth-child(1) {
				width: 50%;
				color: #adaa99;
				margin-bottom: 5px;
			}

			&:nth-child(2) {
				width: 50%;
				color: #adaa99;
				text-align: center;
				margin-bottom: 5px;
			}

			&:nth-child(3) {
				width: 50%;
				padding-right: 5px;
			}

			&:nth-child(4) {
				width: 50%;
			}

			&:nth-child(5) {
				display: none;
			}
		}

		.btn {
			width: 100%;
			@include border-radius(3px);

			span {
				display: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.showcase-text {

			h4 {
				font-size: 18px;
			}
		}

		.showcase-purchase {

			li {

				&:nth-child(3) {
					width: 40%;
				}

				&:nth-child(4) {
					width: 60%;
				}
			}

			.btn {

				span {
					display: inline;
				}
			}
		}
	}
}

.product-social {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	@include clearfix();

	li {
		padding: 0 3px;
		display: inline-block;

		a {
			color: #333;
			width: 24px;
			height: 24px;
			padding: 5px 0;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			background: #adadad;
			display: inline-block;
			@include border-radius(50%);

			&:hover {
				color: #fff;
			}

			&.icon-vk {

				&:hover {
					background: #54769a;
				}
			}

			&.icon-facebook {

				&:hover {
					background: #585792;
				}
			}

			&.icon-odnoklassniki {

				&:hover {
					background: #eb6b0e;
				}
			}

			&.icon-google {

				&:hover {
					background: #be3828;
				}
			}

			&.icon-twitter {

				&:hover {
					background: #2ba4d1;
				}
			}

			&.icon-instagram {

				&:hover {
					background: #168de2;
				}
			}
		}
	}
}


.product {
	position: relative;
	margin-bottom: 15px;
	@include clearfix();

	&.product-equipment {

		.product-heading {

			h1 {

				span {
					color: #6f6e6e;
					font-size: 20px;
					font-family: Arial;
				}
			}
		}

		.product-gallery {

			.product-image {
				margin-bottom: 10px;
			}

			.product-thumbs {

				li {
					width: 20%;

					a {
						padding: 5px 10px;
					}
				}
			}
		}
	}

	.product-size-title {
		color: #676767;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 5px;
	}

	.product-size {
		padding: 0;
		font-size: 0;
		line-height: 0;
		text-align: center;
		margin: 0 -1px 6px -2px;
		@include clearfix();

		> li {
			display: inline-block;
			padding: 0 1px 3px 2px;
		}

		label {
			width: 28px;
			height: 18px;
			padding: 1px 0;
			color: #676767;
			font-size: 11px;
			font-weight: 600;
			line-height: 14px;
			text-align: center;
			display: inline-block;
			background: transparent;
			border: 1px solid #676767;
			@include border-radius(3px);

			&:after,
			&:before {
				display: none;
			}

			&.checked {
				color: #676767;
				background: #111;

				&:after,
				&:before {
					display: none;
				}
			}

			&:hover {
				color: #676767;
				background: #111;
			}
		}
	}

	.product-sale {
		left: 50%;
		top: 100px;
		color: #fff;
		font-size: 12px;
		padding: 3px 8px;
		line-height: 14px;
		text-align: center;
		position: absolute;
		display: inline-block;
		background: $color-orange;
	}

	.product-heading {
		margin-bottom: 50px;

		h1 {
			margin-bottom: 5px;
			font-family: $font-second;
			text-transform: uppercase;
		}

		.product-info {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;

			li {
				padding: 0 6px;
				position: relative;
				display: inline-block;
			}

			.product-price {
				font-size: 18px;
				font-weight: 700;
				line-height: 24px;
				color: $color-orange;
			}

			.product-article {
				color: #d7d7d7;
				font-size: 12px;
				line-height: 24px;
			}
		}
	}

	.product-gallery {
		margin-bottom: 10px;

		.product-image {
			margin-bottom: 5px;

			.product-image-item {
				display: none;

				&.active {
					display: block;
				}
			}
		}

		.product-thumbs {
			padding: 0;
			margin: 0 -2px;
			list-style: none;
			@include clearfix();

			li {
				width: 25%;
				float: left;
				padding: 0 2px;

				a {
					display: block;
					overflow: hidden;
					position: relative;
					border: 1px solid #666;
					@include border-radius(3px);

					.product-thumbs-hover {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						position: absolute;
						display: block;
						@include opacity(0);
						visibility: hidden;
					}

					&:hover {
						border-color: #212121;

						.product-thumbs-hover {
							@include opacity(1);
							visibility: visible;
						}
					}
				}

				&.active {

					a {
						border-color: #212121;
					}
				}
			}
		}
	}

	.product-action {

		.product-purchase {
			padding: 0;
			width: 100%;
			display: table;
			list-style: none ;
			margin: 0 0 10px 0;
			@include clearfix();

			li {
				padding-right: 2px;
				display: table-cell;
				vertical-align: top;

				&:nth-child(1) {
					width: 78px;
				}

				&:nth-child(4) {
					width: 32px;
					padding-right: 0;
				}
			}

			.btn {
				width: 100%;

				b {
					display: none;
					font-weight: 400;
				}
			}
		}

		.btn-like {
			width: 30px;
			height: 30px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: relative;
			display: inline-block;
			border: 1px solid #545454;

			&:hover {
				border-color: #7c7c7c;
			}

			&:before {
				top: 50%;
				left: 50%;
				width: 18px;
				height: 16px;
				content: ' ';
				margin-top: -8px;
				margin-left: -9px;
				position: absolute;
				display: inline-block;
				background: url("../img/icon-headt.png") 50% 50% no-repeat;
				background-size: cover;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 40px;
		padding-bottom: 34px;

		&.product-equipment {

			.product-heading {
				bottom: 180px;

				h1 {

					span {
						display: block;
						font-size: 18px;
					}
				}
			}
		}


		.product-size-box {
			right: 0;
			bottom: 105px;
			width: 215px;
			text-align: left;
			position: absolute;
		}

		.product-size {
			text-align: left;
		}

		.product-sale {
			top: 5px;
			left: 25px;
		}

		.product-gallery {
			width: 375px;
			margin-bottom: 0;
			padding-right: 15px;
		}

		.product-heading {
			right: 0;
			width: 215px;
			bottom: 110px;
			margin-bottom: 0;
			position: absolute;

			h1 {
				font-size: 30px;
				line-height: 34px;
				margin-bottom: 15px;
			}

			.product-info {
				text-align: left;

				li {
					padding: 0;
					width: 100%;
					float: none;

					&:first-child {
						display: table-footer-group;
					}

					&:last-child {
						display: table-header-group;
					}
				}
			}
		}

		.product-action {
			right: 0;
			bottom: 0;
			width: 215px;
			position: absolute;

			.product-purchase {
				width: 100%;
				margin-bottom: 0;
				@include flexbox();
				@include flex-wrap(wrap);

				li {
					margin-bottom: 5px;
					display: inline-block;

					&:nth-child(1) {
						width: 90px;
						padding: 0 5px 0 0;
						@include order(1);
					}

					&:nth-child(2) {
						width: 125px;
						padding: 0  0 0 5px;
						@include order(2);
					}

					&:nth-child(3) {
						width: 180px;
						padding: 0 5px 0 0;
						@include order(3);
					}

					&:nth-child(4) {
						width: 35px;
						padding: 0 0 0 5px;
						@include order(4);
					}
				}
			}

			.product-social {
				text-align: left;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&.product-equipment {
			padding-bottom: 0;

			.product-heading {
				bottom: 190px;
			}
		}


		.product-heading {
			right: 0;
			width: 310px;
			bottom: 140px;
			margin-bottom: 0;
			position: absolute;

			h1 {
				font-size: 38px;
				line-height: 40px;
				margin-bottom: 5px;
			}

			.product-info {
				text-align: left;

				li {
					padding: 0;
					width: 100%;
					float: none;

					&:first-child {
						display: table-footer-group;
					}

					&:last-child {
						font-size: 24px;
						line-height: 30px;
						display: table-header-group;
					}
				}

				.product-price {
					font-size: 24px;
					line-height: 30px;
				}
			}
		}

		.product-gallery {
			width: 385px;
			padding-right: 20px;
		}

		.product-action {
			width: 310px;

			.product-purchase {
				width: 100%;
				margin-bottom: 0;

				li {
					margin-bottom: 10px;
					display: inline-block;

					&:nth-child(1) {
						width: 90px;
						padding: 0 5px 0 0;
						@include order(1);
					}

					&:nth-child(2) {
						width: 170px;
						padding: 0 0 0 5px;
						@include order(2);
					}

					&:nth-child(3) {
						width: 260px;
						padding: 0;
						@include order(4);
					}

					&:nth-child(4) {
						width: 50px;
						padding: 0 0 0 10px;
						@include order(3);
					}
				}

				.btn {
					font-size: 24px;
					line-height: 30px;

					b {
						display: inline;
					}
				}

				.form-number {

					.form-number-control {
						font-size: 16px;
						line-height: 20px;
						padding: 9px 3px;
					}

					span {
						width: 28px;
						padding: 8px 0;
					}
				}
			}

			.product-social {
				margin: 0;
				width: 260px;
				text-align: center;
			}

			.btn-like {
				width: 40px;
				height: 40px;
			}
		}


		.product-size-box {
			width: 310px;
			bottom: 135px;

			.product-size {
				margin-bottom: 0;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		&.product-equipment {

			.product-gallery {

				.product-image {
					margin-left: 140px;
				}

				.product-thumbs {

					li {
						width: 100%;
						float: none;
						padding: 15px 0 0 0;

						a {
							padding: 3px 13px;
						}
					}
				}
			}
		}


		.product-sale {
			top: 40px;
			left: 120px;
		}

		.product-heading {
			bottom: 150px;

			h1 {
				font-size: 40px;
				line-height: 42px;
			}
		}

		.product-gallery {
			width: 620px;
			padding-right: 40px;
			position: relative;

			.product-image {
				width: 510px;
				margin-left: 110px;
			//	padding-top: 10px;
			}

			.product-thumbs {
				width: 80px;
				left: 0;
				bottom: 0;
				position: absolute;

				li {
					width: 100%;
					float: none;
					padding: 19px 0 0 0;
				}
			}
		}

		.product-action {

			.product-purchase {

				li {
					margin-bottom: 10px;

					&:nth-child(4) {
						width: 45px;
					}
				}

				.btn {
					font-size: 24px;
					line-height: 30px;
				}

				.form-number {

					.form-number-control {
						font-size: 16px;
						line-height: 20px;
						padding: 9px 3px;
					}
				}
			}

			.btn-like {
				width: 40px;
				height: 40px;
			}
		}
	}
}


.product-content {
	max-width: 100%;
	//margin-bottom: 30px;

	.table {

		th {
			color: #212121;
			background: #666666;
		}
	}

	.product-content-text {
		color: #d7d7d7;
		font-size: 11px;
	}

	&.text-block {
		position: relative;

		&:before {
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			height: 47px;
			position: absolute;
			background: url("../img/gradient.png") 0 100% repeat-x;
		}

		.btn-read {
			margin: 0 5px 5px 0;
		}
	}

	.tabs-nav {
		position: relative;
		border-bottom: 1px solid #686868;

		ul {
			padding: 0;
			width: 100%;
			display: table;
			position: relative;
			margin-bottom: -1px;

			li {
				z-index: 2;
				position: relative;
				padding-right: 3px;
				display: table-cell;

				&:last-child {
					padding-right: 0;
				}

				a {
					width: 100%;
					color: #737272;
					font-size: 14px;
					line-height: 16px;
					padding: 2px 5px;
					text-align: center;
					background: #282828;
					display: inline-block;
					font-family: $font-second;
					text-transform: uppercase;
					border: 1px solid #686868;
					@include border-radius(6px 6px 0 0);

					&:hover {
						background: #333;
					}
				}

				&.active {

					a {
						background: #333;
						border-bottom: 1px solid #333;
					}
				}
			}
		}
	}


	.tabs-item {
		display: none;
		padding-top: 5px;
		padding-bottom: 20px;

		&.active {
			display: block;
		}

		&.tab2 {

			.table {

				td {
					text-align: center;

					&:first-child {
						text-align: left;
					}

					&:last-child {
						text-align: left;
					}
				}
			}
		}

		&.tab3 {

			.table {

				td {
					&:last-child {
						text-align: center;
					}
				}
			}
		}
	}

	.text-lead {
		color: #adaa99;
		font-weight: 700;
		margin-bottom: 10px;
	}

	.table-rows {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		li {
			&:last-child {

				tr {
					&:first-child {
						display: none;
					}
				}
			}
		}
	}

	.review {
		width: 100%;

		> li {
			width: 100%;
			display: table;
			padding: 15px 0;
			@include clearfix();
			border-bottom: 1px solid #626262;
		}

		.review-author {
			width: 86px;
			display: table-cell;
		}

		.review-avatar {
			width: 68px;
			margin: 0 auto;

			img {
				@include img-responsive(inline-block);
			}
		}

		.review-content {
			display: table-cell;

			.review-head {
				@include clearfix();

				.review-name {
					float: left;
					color: #adaa99;
					font-size: 18px;
					font-weight: 700;
					line-height: 20px;
				}

				.review-date {
					float: right;
					display: none;
					color: #686868;
					font-size: 12px;
					line-height: 20px;
				}
			}

			.review-text {
				color: #b2b2b2;
				font-size: 12px;
				line-height: 18px;
			}
		}
	}

	.review-new {
		width: 100%;
		display: table;
		padding-top: 12px;

		.review-left {
			width: 86px;
			display: table-cell;
			vertical-align: top;

			.review-avatar {
				width: 68px;
				margin: 0 auto;

				img {
					@include img-responsive(inline-block);
				}
			}

			.review-social {
				text-align: center;

				p {
					font-size: 11px;
					line-height: 13px;
					margin: 0 -5px 5px -5px;
				}

				ul {
					padding: 0;
					font-size: 0;
					line-height: 0;
					margin: 0 -3px;
					list-style: none;

					li {
						padding: 0 3px;
						display: inline-block;

						a {
							width: 23px;
							height: 23px;
							overflow: hidden;
							display: inline-block;
							@include border-radius(50%);

							img {
								@include img-responsive(inline-block);
							}
						}
					}
				}
			}

			texarea {
				height: 62px;
			}
		}


		.review-right {
			vertical-align: top;
			display: table-cell;

			.review-new-title {
				color: #adaa99;
				font-size: 12px;
				font-weight: 700;
				line-height: 20px;
			}

			.review-bottom {
				@include clearfix();

				ul {
					margin: 0;
					padding: 0;
					float: right;
					list-style: none;
					@include clearfix();
				}

				li {
					float: left;

					&:nth-child(1) {
						width: 35px;
					}

					&:nth-child(2) {
						width: 86px;
						padding: 5px 15px 0 0;
					}
				}

				label {
					padding: 5px 0;
					font-size: 12px;
					line-height: 20px;
				}
			}
		}
	}

	.product-text-bottom {
		color: #b0b0b0;
		font-size: 11px;
		line-height: 14px;
		padding-top: 10px;
		margin-top: 10px;
		margin-bottom: 15px;
		border-top: 1px dashed #b0b0b0;
	}

	.list {

		li {
			position: relative;
			margin-bottom: 10px;

			&:before {
				width: 5px;
				height: 5px;
				content: '';
				top: -1px;
				position: relative;
				background: #adaa99;
				margin-right: 5px;
				display: inline-block;
				@include border-radius(50%);
			}
		}
	}

	.compatibility {
		padding: 0;
		margin: 0 -2px;
		list-style: none;
		@include clearfix();

		> li {
			width: 20%;
			float: left;
			padding: 0 2px 4px 2px;
		}

		.compatibility-item {
			font-size: 0;
			line-height: 0;
			display: block;
			padding: 3px 10px;
			border: 1px solid #666;
			@include border-radius(3px);
		}
	}


	.table-equipment {

		th {
			white-space: nowrap;
		}

		td {
			text-align: center;

			&:first-child {
				text-align: left;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.tabs-nav {

			ul {
				width: 405px;

				li {

					a {
						padding: 2px 5px;
						font-size: 18px;
						line-height: 22px;
					}
				}
			}
		}

		.review {

			.review-content {
				padding-left: 20px;

				.review-head {

					.review-date {
						display: inline-block;
					}
				}
			}
		}

		.review-new {

			.review-right {
				padding-left: 20px;

				.review-bottom {

					li {

						&:nth-child(2) {
							width: 120px;
							padding-right: 20px;
						}

						&:nth-child(3) {
							width: 120px;

							.btn {
								width: 100%;
							}
						}
					}
				}
			}
		}

		.compatibility {

			> li {
				width: 12.5%;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.table-rows {
			margin: 0 -10px;

			li {
				float: left;
				width: 50%;
				padding: 0 10px;

				&:last-child {

					tr {

						&:first-child {
							display: table-row;
						}
					}
				}
			}
		}
	}

	.compatibility {

		> li {
			width: 10%;
		}
	}
}

.product-box {
	margin-bottom: 25px;

	.product-box-title {
		color: #737272;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 10px;
		padding-bottom: 6px;
		font-family: $font-second;
		text-transform: uppercase;
		border-bottom: 1px solid #686868;
	}

	.product-box-slider {

		.product-box-item {
			border: none;
			outline: none;
			padding: 0 3px;
			position: relative;
		}

		.slide-nav {
			top: 30%;
			width: 69px;
			height: 69px;
			z-index: 10;
			cursor: pointer;
			margin-top: -55px;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
			@include opacity(0.5);
			background: url("../img/slide-nav.png") 50% no-repeat;

			&:hover {
				@include opacity(1);
			}

			&.next {
				right: -10px;
			}

			&.prev {
				left: -10px;
				@include rotate(180deg);
			}
		}
	}

	.slick-dots {
		font-size: 0;
		line-height: 0;
		padding-top: 15px;
		text-align: center;

		li {
			margin: 0 6px;
			display: inline-block;

			button {
				margin: 0;
				padding: 0;
				width: 10px;
				height: 10px;
				outline: none;
				display: inline-block;
				background: transparent;
				border: 2px solid #d8d8d8;
				@include border-radius(50%);
			}

			&.slick-active {

				button {
					background: #d8d8d8;
				}
			}
		}
	}

	.showcase {

		.showcase-purchase {

			li {


			}

			.btn {
				width: 100%;

				span {
				//	display: inline !important;
				}
			}
		}
	}
}


.sidebar-nav {
	margin: 0 -2px 10px -2px;

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: table;
		list-style: none;
	}

	li {
		padding: 0 2px;
		display: table-cell;
		vertical-align: middle;

		a {
			margin:0;
			width: 100%;
			outline: none;
			color: #666666;
			cursor: pointer;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			padding: 4px 5px;
			text-align: center;
			position: relative;
			background: transparent;
			display: inline-block;
			text-decoration: none;
			vertical-align: middle;
			background-image: none;
			font-family: $font-second;
			text-transform: uppercase;
			touch-action: manipulation;
			border: 1px solid #666666;
			@include border-radius(5px);

			&:hover {
				color: #212121;
				background: #666666;
				border-color: #666666;
				text-decoration: none;
			}

			&.btn-filter-toggle {
				color: #adaa99;
				background: #212121;
				border-color: #212121;

				&:hover {
					color: #212121;
					background: #666666;
					border-color: #666666;
					text-decoration: none;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		margin: 0 0 10px 0;

		ul {
			overflow: hidden;
			display: block;
			border: 1px solid #666666;
			@include border-radius(6px);
		}

		li {
			padding: 0;
			display: block;
			border-top: 1px solid #666666;

			&:first-child {
				border-top: none;
			}

			&:last-child {
			//	display: none;
			}

			a {
				border: none;
				font-size: 18px;
				padding: 5px 5px;
				@include border-radius(0);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.filter {
	top: 0;
	right: 0;
	display: none;
	z-index: 750;
	width: 223px;
	overflow: hidden;
	background: #666;
	position: absolute;
	border: 1px solid #666;
	@include border-radius(8px);

	&.open {
		display: block;
	}

	.filter-heading {
		height: 40px;
		color: #212121;
		font-size: 18px;
		line-height: 20px;
		padding-top: 8px;
		text-align: center;
		position: relative;
		font-family: $font-second;

		.filter-close {
			top: 10px;
			right: 10px;
			color: #212121;
			cursor: pointer;
			font-size: 18px;
			line-height: 18px;
			position: absolute;
			display: inline-block;
		}
	}

	.filter-block {

		.filter-block-title {
			color: #212121;
			cursor: pointer;
			font-size: 18px;
			line-height: 20px;
			padding: 5px 10px;
			position: relative;
			background: #808080;
			font-family: $font-second;

			.filter-block-toggle {
				top: 0;
				right: 0;
				width: 44px;
				height: 30px;
				cursor: pointer;
				text-align: center;
				position: absolute;
				border-left: 1px solid #4d4d4d;

				&:before {
					top: 5px;
					left: 15px;
					color: #212121;
					font-size: 20px;
					line-height: 20px;
					content: "\f107";
					position: absolute;
					display: inline-block;
					font-family: FontAwesome;
				}

				&:hover {
					background: #2b2b2b;
				}
			}
		}

		.filter-block-content {
			display: none;
			background: #666;
			padding: 10px 10px;
		}


		&.open {

			.filter-block-title {

				.filter-block-toggle {

					&:before {
						content: "\f106";
					}
				}
			}

			.filter-block-content {
				display: block;
			}
		}

		.filter-rows {

			ul {
				margin: 0;
				padding: 0;
				width: 100%;
				list-style: none;
				@include clearfix();
				border-bottom: 1px solid #4d4d4d;

				li {
					width: 50%;
					float: left;
					padding: 1px 0;
					vertical-align: middle;
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}

		label {
			color: #212121;
			font-size: 11px;
			line-height: 13px;
			display: inline-block;
			position: relative;
			padding-left: 16px;

			&:before {
				left: 0;
				top: 1px;
				z-index: 5;
				content: '';
				width: 11px;
				height: 11px;
				position: absolute;
				background: #e6e6e6;
				display: inline-block;
				border: 1px solid #4d4d4d;
				@include border-radius(3px);
			}

			&:after {
				left: 0;
				top: 1px;
				z-index: 10;
				content: '';
				width: 11px;
				height: 11px;
				display: none;
				position: absolute;
				border: 1px solid #4d4d4d;
				background: #e6e6e6 url("../img/icon-checked.png") 1px 50% no-repeat;
			}

			&.checked {

				&:before {
					display: none;
				}

				&:after {
					display: inline-block;
				}
			}
		}
	}

	.filter-btn {
		padding: 0 10px;
		list-style: none;
		margin: 12px 0 17px 0;

		li {

			&:first-child {
				margin-bottom: 10px;
			}
		}
	}

	.btn {
		width: 100%;
	}

	.amount {
		margin-bottom: 10px;
		padding: 25px 15px 0 15px;
		position: relative;

		.irs-line {
			height: 9px;
			position: relative;
			@include border-radius(5px);
		}

		.irs-line-left {
			height: 9px;
			background: #4d4d4d;
			border-top: 1px solid #212121;
		}

		.irs-line-right {
			height: 9px;
			background: #4d4d4d;
			border-top: 1px solid #212121;
		}

		.irs-line-mid {
			height: 9px;
			background: #4d4d4d;
			border-top: 1px solid #212121;
		}

		.irs-bar {
			top: 0px;
			height: 9px;
			background: $color-orange;
			@include border-radius(5px);
		}

		.irs-slider {
			top: -1px;
			width: 11px;
			height: 11px;
			background: #e6e6e6;
			border: 2px solid #e6e6e6;
			@include border-radius(50%);
		}

		.irs-to,
		.irs-from {
			top: -22px;
			color: #212121;
			font-size: 11px;
			padding: 0 3px;
			line-height: 12px;
			background: #e6e6e6;
			display: inline-block;
			border: 1px solid #4d4d4d;
			@include border-radius(3px);
		}

		.first,
		.last {
			top: 10px;
			font-style: normal;
			color: #261e1d;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			position: absolute;
			display: inline-block;
		}

		.first {
			left: 5px;
		}

		.last {
			right: 5px;
		}
	}

	.form-group {
		margin-bottom: 8px;
	}

	.filter-select {
		margin: 0;
		width: 100%;
		outline: none;
		color: #212121;
		font-size: 11px;
		line-height: 14px;
		padding: 1px 30px 1px 5px;
		display: inline-block;
		background: #e6e6e6 url("../img/icon-filter-select.png") 100% 50% no-repeat;
		border: 1px solid #4d4d4d;
		@include placeholder(#212121);
		@include border-radius(3px);

		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		-ms-appearance: none;
		appearance: none!important;

		&::-ms-expand {
			display: none;
		}

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}
	}

	.filter-quick {
		padding: 10px;

		.filter-quick-heading {
			color: #858585;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
			margin-bottom: 5px;
			font-family: $font-second;
		}

		.filter-quick-title {
			color: #212121;
			font-size: 11px;
			line-height: 13px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		.filter-quick-row {
			padding: 8px 0;
			@include clearfix();
			border-top: 1px solid #4d4d4d;
			border-bottom: 1px solid #4d4d4d;

			.filter-quick-col {
				width: 50%;
				float: left;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 10px;
			}
		}

		label {
			color: #212121;
			font-size: 11px;
			line-height: 13px;
			position: relative;
			padding-left: 10px;
			display: inline-block;

			&:before {
				left: 0;
				top: 3px;
				width: 6px;
				height: 6px;
				content: '';
				position: absolute;
				background: #212121;
				@include border-radius(50%);
			}

			&.checked {
				color: #e6e6e6;

				&:before {
					background: #e6e6e6;
				}
			}

			label {

			}
		}
	}

	.filter-submit {
		margin: 0 -10px -10px -10px;
	}

	.btn-parts {
		margin:0;
		width: 100%;
		border: none;
		outline: none;
		color: #666666;
		display: block;
		cursor: pointer;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		padding: 5px 10px;
		text-align: center;
		position: relative;
		background: #212121;
		text-decoration: none;
		vertical-align: middle;
		background-image: none;
		font-family: $font-second;
		text-transform: uppercase;
		touch-action: manipulation;

		&:hover {
			color: #d8d8d8;
			background: #212121;
			text-decoration: none;

			&:before {
				top: 1px;
				left: 1px;
				right: 1px;
				bottom: 1px;
				content: '';
				position: absolute;
				border: 1px solid #494949;
			}
		}
	}

	.filter-size {
		padding: 0;
		margin: 0 -3px;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			padding: 0 3px;
			margin-bottom: 8px;
		}

		label {
			width: 28px;
			height: 18px;
			display: block;
			padding: 1px 0;
			color: #212121;
			font-size: 11px;
			font-weight: 600;
			line-height: 14px;
			text-align: center;
			background: #e6e6e6;
			border: 1px solid #4d4d4d;
			@include border-radius(3px);

			&:after,
			&:before {
				display: none;
			}

			&.checked {
				color: #fff;
				background: #f37021;

				&:after,
				&:before {
					display: none;
				}
			}
		}
	}

	.filter-color {
		padding: 0;
		margin: 0 -3px;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			padding: 0 3px;
			margin-bottom: 8px;
		}

		label {
			width: 28px;
			display: block;
			padding: 0;
			color: #212121;
			font-size: 0;
			line-height: 0;
			font-weight: 600;
			text-align: center;
			background: #e6e6e6;
			overflow: hidden;
			border: 1px solid #4d4d4d;
			@include border-radius(3px);

			&:after,
			&:before {
				display: none;
			}

			&.checked {
				color: #fff;
				background: #fff;

				&:after,
				&:before {
					display: none;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		top: auto;
		left: auto;
		right: auto;
		width: 100%;
		display: block;
		position: relative;
		border: none;
		background: transparent;

		.filter-heading {
			display: none;
		}

		.filter-block {
			overflow: hidden;
			margin-bottom: 6px;
			border-top: 1px solid #333;
			@include border-radius(8px);

			.filter-block-title {
				color: #adaa99;
				background: #212121;

				.filter-block-toggle {
					color: #adaa99;

					&:before {
						color: #adaa99;
					}
				}
			}

			.filter-block-content {
				@include border-radius(0 0 8px 8px);
			}
		}

		.filter-btn {
			display: none;
		}

		.btn-parts {
			color: #212121;
			background: #4d4d4d;
			text-transform: capitalize;

			&:hover {
				color: #93937f;
				background: #212121;
				text-decoration: none;

				&:before {
					display: none;
				}
			}
		}

		.filter-quick {
			background: #333333;

			.filter-quick-title {
				color: #e6e6e6;
			}

			label {
				color: #e6e6e6;

				&:before {
					background: $color-orange;
				}

				&.active {
					color: $color-orange;
				}
			}
		}
	}

}

.params {
	padding-top: 15px;
	border-top: 1px solid #666;

	.params-list {
		padding: 0;
		margin:  0 -5px;
		list-style: none;
		@include clearfix();

		> li {
			width: 100%;
			float: left;
			padding: 0 5px;
			margin-bottom: 10px;

			&:last-child {
				text-align: center;
			}
		}

		.btn {
			width: 120px;
		}
	}

	.selectric-items li {

	}

	@media (min-width: $screen-sm-min) {

		.params-list {

			> li {
				width: 50%;

				&:last-child {
					width: 100%;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.params-list {

			> li {
				padding-top: 5px;

				&:nth-child(1) {
					width: 110px;
				}

				&:nth-child(2) {
					width: 140px;
				}

				&:nth-child(3) {
					width: 90px;
				}

				&:nth-child(4) {
					width: 270px;
				}

				&:nth-child(5) {
					width: 95px;
					padding-top: 0;
				}

				&:last-child {
					margin-left: 0;

					.btn {
						width: 100%;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.params-list {

			> li {

				&:nth-child(1) {
					width: 155px;
				}

				&:nth-child(2) {
					width: 210px;
				}

				&:nth-child(3) {
					width: 130px;
				}

				&:nth-child(4) {
					width: 330px;
				}

				&:nth-child(5) {
					width: 110px;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}


