.breadcrumbs {
	background: #212121;
}

.breadcrumb {
	margin: 0;
	padding: 5px 0;
	font-size: 0;
	line-height: 0;
	list-style: none;

	> li {
		color: #6b6b6a;
		font-size: 11px;
		line-height: 12px;
		display: inline-block;

		&:after {
			content: '\f178';
			padding: 0 4px;
			font-family: FontAwesome;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #6b6b6a;
			text-decoration: none;

			&:hover {
				color: #fff;
			}
		}
	}
}

