.btn {
	margin:0;
	border: none;
	outline: none;
	color: #212121;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding: 5px 10px;
	text-align: center;
	position: relative;
	background: #93937f;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	font-family: $font-second;
	text-transform: uppercase;
	touch-action: manipulation;

	&:hover {
		color: #adaa99;
		background: #212121;
		text-decoration: none;

	}

	&:active {
		top: 1px;
	}

	&.btn-hover-line {

		&:before {
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			content: '';
			display: none;
			position: absolute;
			border: 1px solid #4b4c47;

		}

		&:hover {

			&:before {
				display: block;
			}
		}
	}
}


.btn-dark {
	color: #666666;
	background: #212121;

	&:before {
		top: 1px;
		left: 1px;
		right: 1px;
		bottom: 1px;
		content: '';
		position: absolute;
		border: 1px solid #93937f;
	}

	&:hover {
		color: #d8d8d8;

		&:before {
			border-color: #494949;
		}
	}
}

.btn-mini {
	margin:0;
	border: none;
	outline: none;
	color: #212121;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	padding: 3px 10px;
	text-align: center;
	position: relative;
	background: #93937f;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	font-family: $font-second;
	text-transform: uppercase;
	touch-action: manipulation;

	&:hover {
		color: #93937f;
		background: #212121;
		text-decoration: none;

		&:before {
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			content: '';
			position: absolute;
			border: 1px solid #93937f;
		}
	}

	&:active {
		top: 1px;
	}
}


.btn-border {
	margin:0;
	outline: none;
	color: #666666;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding: 4px 5px;
	text-align: center;
	position: relative;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	font-family: $font-second;
	text-transform: uppercase;
	touch-action: manipulation;
	border: 1px solid #666666;
	@include border-radius(3px);

	&:hover {
		color: #212121;
		background: #666666;
		border-color: #666666;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}

	&.btn-border-gray {
		border-color: #686868;

		&:hover {
			color: #000;
			background: #686868;
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 18px;
	}
}

.btn-md {
	font-size: 24px;
	line-height: 30px;
	padding: 5px 40px;
}


.btn-xl {
	width: 100%;
	color: #737272;
	font-size: 24px;
	line-height: 30px;
	padding: 5px 10px;
}
