.form-control {
	margin: 0;
	width: 100%;
	color: #666;
	outline: none;
	font-size: 12px;
	line-height: 20px;
	padding: 4px 8px;
	display: inline-block;
	background: transparent;
	border: 1px solid #666;
	@include placeholder(#666);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.form-control-sm {
		padding: 2px 4px;
		line-height: 14px;
	}

	&.form-control-xs {
		padding: 1px 5px;
		font-size: 13px;
		line-height: 13px;
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-label {
	color: #a19f9f;
	display: block;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 4px;
}

.form-group {
	margin-bottom: 20px;
}

.icr-label {

	.icr-hidden {
		display: none;
	}
}

.form-number {
	font-size: 0;
	line-height: 0;
	color: #93937f;
	padding: 0 20px;
	overflow: hidden;
	position: relative;
	background: #111111;
	display: inline-block;
	border: 1px solid #686868;
	@include border-radius(3px);

	span {
		z-index: 5;
		top: -1px;
		bottom: -1px;
		width: 20px;
		padding: 4px 0;
		color: #93937f;
		cursor: pointer;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		text-align: center;
		position: absolute;
		background: #212121;
		display: inline-block;
		border: 1px solid #686868;
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
		-webkit-user-select: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;

		&.minus {
			left: -1px;
		}

		&.plus {
			right: -1px;
		}

		&:hover {
			background: #151010;
		}
	}

	input[type='text'] {
		z-index: 1;
		margin: 0;
		width: 100%;
		border: none;
		outline: none;
		color: #93937f;
		font-size: 12px;
		line-height: 20px;
		font-weight: 300;
		background: transparent;
		padding: 4px 3px;
		text-align: center;
		position: relative;
		display: inline-block;
	}

}

.selectric-wrapper {
	width: 100%;
	display: block;

	&.selectric-open {

		.selectric {
			border-bottom: none;
			@include border-radius(3px 3px 0 0);
		}
	}

	.selectric {
		width: 100%;
		display: block;
		color: #a19f9f;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		position: relative;
		overflow: hidden;
		text-align: left;
		padding: 2px 32px 2px 5px;
		border: 1px solid #686868;
		@include border-radius(3px);

		.label {
			display: block;
			width: 100%;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
		}

		.button {
			top: 0;
			right: 0;
			width: 26px;
			height: 18px;
			padding: 2px 0;
			font-size: 14px;
			position: absolute;
			text-align: center;
			border-left: 1px solid #686868;
		}
	}

	.selectric-items {
		background: #333333;
		border: 1px solid #686868;

		.selectric-scroll {

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					color: #a19f9f;
					padding: 2px 3px;
					cursor: pointer;

					&:hover {
						color: #fff;
						background: #272727;
					}
				}
			}
		}
	}


	&.selectric-filter-select {

		.selectric {
			color: #212121;
			background: #e6e6e6;
			border-color: #4d4d4d;
		}

		.selectric-items {
			background: #e6e6e6;
			border: 1px solid #4d4d4d;

			ul {

				li {
					color: #212121;
				}
			}
		}
	}
}